<mat-card>
  <mat-card-title>{{'general.locations.edit.contactTitle' | translate}}</mat-card-title>
  <mat-card-content>


    <p *ngIf="!location.assignedContacts || location.assignedContacts.length === 0">
      {{ 'general.locations.edit.contact.noContacts' | translate}}
    </p>

    <ul>
      <li *ngFor="let contact of location.assignedContacts; let i = index">
        <a *ngIf="contact.isMember" [routerLink]="['/members/detail', contact.assignedMember]">
          {{ (members | filterBy: ['id'] : contact.assignedMember)[0].mainData.lastName}}
          {{ (members | filterBy: ['id'] : contact.assignedMember)[0].mainData.firstName}}
        </a>
        <span *ngIf="!contact.isMember">
            {{contact.lastName}} {{contact.firstName}} <br/>
            <a *ngIf="contact.contact.email" [href]="'mailto:' + contact.contact.email">{{contact.contact.email}} ,</a>
             {{contact.contact.phoneMobile}}
          </span>
        <p [innerHtml]="contact.description"></p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
