.dropZone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // border: 2px dashed #f16624;
  // border-radius: 5px;
  background: center center no-repeat;
  background-size: contain;
  min-height: 250px;
}

.hovering {
  border: 2px solid #f16624;
  color: #dadada !important;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.actions {
  background-color: blue;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  flex-direction: row;
}
