<mat-sidenav-container fxFlexFill
                       style="padding: 0 25px;">

  <mat-sidenav #settings
               position="end"
               class="chat-panel"
               [mode]="'side'"
               [opened]="sidePanelOpened"
               (open)="sidePanelOpened = true"
               (close)="sidePanelOpened = false">

    <div fxLayout.gt-sm="row"
         fxLayout="column"
         fxLayoutAlign="space-between center">
      <span style="font-weight: bold; font-size: larger">{{'general.sponsors.list.filterTitle' | translate}}</span>
      <span class="space"></span>
      <button mat-icon-button (click)="sidePanelOpened = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <sponsor-filter *ngIf="categories$ | async as categories; else loadingTemplate"
                    (setFilters)="setFilters($event);"
                    [categories]="categories">
    </sponsor-filter>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-card>
      <mat-card-header fxLayout.gt-sm="row"
                       fxLayout="column"
                       fxLayoutAlign="space-between center">
        <mat-card-title>
          <mat-icon>euro_symbol</mat-icon>
          {{'general.menu.sponsor.main' | translate }}
        </mat-card-title>
        <span class="space"></span>
        <div>
          <button type="button"
                  mat-raised-button
                  color="accent"
                  [routerLink]="['/sponsors/create']">
            <mat-icon>note_add</mat-icon>
            {{'general.sponsors.list.createSponsor' | translate}}
          </button>
          <button mat-icon-button (click)="sidePanelOpened = !sidePanelOpened">
            <mat-icon *ngIf="sidePanelOpened">arrow_forward_ios</mat-icon>
            <mat-icon *ngIf="!sidePanelOpened">arrow_back_ios</mat-icon>
          </button>
        </div>
      </mat-card-header>

      <mat-card-content>

        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="30px"
             *ngIf="sponsors$ | async as sponsors; else loadingTemplate">

          <sponsor-item fxFlex.gt-sm="25"
                        *ngFor="let sponsor of sponsors | categoryFilter: 'assignedCategories' : categoryFilter"
                        (removeSponsor)="removeSponsor($event)"
                        [sponsor]="sponsor">
          </sponsor-item>

          <p *ngIf="!sponsors">{{'general.sponsors.list.noSponsorsFound' | translate}}</p>

          <p *ngIf="sponsors.length > 0 && !(sponsors | categoryFilter: 'assignedCategories' : categoryFilter).length">
            {{'general.sponsors.list.noResult' | translate}}
          </p>

        </div>
      </mat-card-content>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
