<div class="substitutions">
  <mat-card-subtitle>{{'general.matches.edit.substituteBench' | translate}}</mat-card-subtitle>

  <div fxLayout="column">

    <cdk-drop #doneList
              [data]="done"
              [connectedTo]="connectedToDropables"
              class="list"
              (dropped)="drop($event)">

      <match-player *ngFor="let i of maxSubstitutes"
                    [member]="match.assignedSubstitutes ? match.assignedSubstitutes[i] : null"
                    cdkDrag="false">
      </match-player>

    </cdk-drop>
  </div>
</div>
