<h1 mat-dialog-title style="color: #cecece">{{'general.uploader.deleteItem' | translate}}</h1>

<div mat-dialog-content
     formGroup="form"
     style="padding-top: 25px; padding-bottom: 40px">

  <div class="alert alert-info"
       *ngIf="showDeleteCheckbox">
    {{ 'general.uploader.deleteFromGalleryQuestion' | translate: { fileName : data.mediaItem.file.name } }}
  </div>

  <p class="alert alert-warning"
     *ngIf="!showDeleteCheckbox">
    {{'general.uploader.deleteFromFileSystemQuestion' | translate: { fileName : data.mediaItem.file.name } }}
  </p>

  <div *ngIf="showDeleteCheckbox">
    <mat-checkbox [checked]="deleteFromFS" (change)="setDeleteFromFS($event)">
    <span aria-describedby="footnote-label"
          id="footnotes-ref">
      {{'general.uploader.deleteFromFileSystemCheckbox' | translate}}
    </span>
    </mat-checkbox>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancelClick()">{{'general.cancel' | translate}}</button>
  <button mat-raised-button (click)="onConfirmClick()" color="warn">{{'general.delete' | translate}}</button>
</div>

<footer>
  <ol>
    <li>
      <mat-hint id="footnotes">{{'general.uploader.deleteFromFileSystemInfo' | translate}}</mat-hint>
    </li>
  </ol>
</footer>
