<mat-card>
  <mat-card-title>{{ (!gallery.id) ? ('general.media.gallery.create' | translate ) : ('general.media.gallery.edit' | translate )}}</mat-card-title>

  <!--<mat-card-subtitle>{{'general.media.gallery.form.description' | translate}}</mat-card-subtitle>-->
  <hr>
  <mat-card-content [formGroup]="form"
                    fxLayout="column">

    <mat-form-field>
      <input matInput
             placeholder="{{'general.media.gallery.form.title' | translate}}"
             formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                placeholder="{{'general.media.gallery.form.description' | translate}}"
                formControlName="description">
      </textarea>
    </mat-form-field>

    <div style="margin: 25px 0"
         formGroupName="publication">
      <mat-radio-group formControlName="status">
        <mat-radio-button value="1">{{'general.media.gallery.form.visibility.show' | translate}}</mat-radio-button>
        <mat-radio-button value="0">{{'general.media.gallery.form.visibility.hide' | translate}}</mat-radio-button>
        <mat-radio-button value="2">{{'general.media.gallery.form.visibility.planned' | translate}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <mat-select placeholder="{{'general.media.gallery.form.assignedItemType.title' | translate}}"
                  formControlName="assignedItemType">
        <mat-option *ngFor="let galleryType of mediaGalleryService.getMediaGalleryTypes()"
                    [value]="galleryType">
          {{'general.media.gallery.form.assignedItemType.' + galleryType | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="form.get('assignedItemType').value">
      <media-gallery-form-assigned-objects *ngIf="seasons$ | async as seasons; else loadingTemplate"
                                           [seasons]="seasons"
                                           [form]="form"
                                           [assignedItemType]="form.get('assignedItemType').value">
      </media-gallery-form-assigned-objects>
    </div>

    <mat-list cdkDropList (cdkDropListDropped)="drop($event)"
              [cdkDropListConnectedTo]="['media-items']" id="form-items"
              [ngClass]="{'draggable-placeholder': mediaGalleryFormOptions.draggableList}">
      <p *ngIf="mediaGalleryFormOptions.draggableList && mediaItems.length === 0">{{'general.media.gallery.form.emptyDragList' | translate}}</p>
      <mat-list-item *ngFor="let item of mediaItems">
        <mat-icon mat-list-icon>attachment</mat-icon>
        <a [href]="item.downloadURL" target="_blank" mat-line>
          {{item.file.name}}
        </a>
        <mat-icon (click)="removeItem(item.id)" class="click-icon">clear</mat-icon>
      </mat-list-item>
    </mat-list>

    <button *ngIf="!mediaGalleryFormOptions.draggableList" mat-flat-button
            color="primary"
            (click)="openDialog()">
      {{'general.media.gallery.form.uploadFiles' | translate}}
    </button>

  </mat-card-content>

  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span>
      <button type="button"
              (click)="saveMediaGallery()"
              mat-raised-button
              color="accent"
              [disabled]="!form.valid">
        {{'general.media.gallery.form.save' | translate}}
      </button>
    </div>
  </mat-card-actions>
</mat-card>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
