<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">

  <div fxFlex="100">

    <mat-card>
      <mat-card-title>
        Neue Sammlung erstellen
      </mat-card-title>
      <mat-card-content>
        <ul>
          <li>Titel</li>
          <li>Beschreibung</li>
          <li>Datum</li>
          <li>Author</li>
        </ul>

        <button type="button"
                mat-raised-button color="accent"
                [disabled]="!form.valid">
          Save
        </button>

        <button type="button"
                mat-raised-button color="primary">
          Cancel
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
