<h3 mat-dialog-title>{{'general.media.upload.file.info' | translate}}</h3>
<div mat-dialog-content [formGroup]="form">
  <table *ngIf="data.mediaItem as mediaItem" >
    <tr>
      <th>{{'general.media.upload.author' | translate}}</th>
      <td></td>
    </tr>
    <tr>
      <th>{{'general.media.upload.date' | translate}}</th>
      <td></td>
    </tr>
    <tr>
      <th>{{'general.media.upload.file.name' | translate}}</th>
      <td>
        <mat-form-field>
          <input matInput formControlName="name">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>{{'general.media.upload.description' | translate}}</th>
      <td>
        <mat-form-field><input matInput
                               formControlName="description">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>{{'general.media.upload.file.size' | translate}}</th>
      <td>{{mediaItem.file.size | fileSize}}</td>
    </tr>
    <tr>
      <th>{{'general.media.upload.file.type' | translate}}</th>
      <td>{{mediaItem.file.type}}</td>
    </tr>
    <tr>
      <th>{{'general.media.upload.file.link' | translate}}</th>
      <td><a target="_blank" [href]="mediaItem.downloadURL">{{'general.media.upload.file.link' | translate}}</a></td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'general.media.upload.file.edit.cancel' | translate }}</button>
  <button mat-button [mat-dialog-close]="data.mediaItem" [disabled]="!form.valid">{{'general.media.upload.file.edit.confirm' | translate }}</button>
</div>
