<div fxLayout="row">

  <div fxFlex.gt-sm="50"
       fxflex="100">
    <mat-card>
      <mat-card-title>
        <mat-icon>list</mat-icon>
        {{ 'general.teams.list.latestMatchPreviews' | translate }}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <p>ToDo</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="50"
       fxflex="100">
    <mat-card>
      <mat-card-title>
        <mat-icon>list</mat-icon>
        {{ 'general.teams.list.chart' | translate }}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <canvas *ngIf="isLoaded; else loadingTemplate"
                baseChart
                width="400"
                height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                legend="true"
                chartType="line">
        </canvas>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
