<mat-card>
  <mat-card-title>
    {{'general.members.tabs.otherOpinions' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content>

    <p *ngIf="!member.opinions || member.opinions.length === 0">
      {{'general.members.detail.opinions.noEntries' | translate}}
    </p>

    <mat-list dense *ngIf="members; else loadingTemplate">
      <mat-list-item *ngFor="let opinion of member.opinions">

        <h3 *ngIf="opinion.type === 'select'">
          {{(members | filterBy: ["id"] : opinion.assignedMember).firstName}}
          {{(members | filterBy: ["id"] : opinion.assignedMember).lastName}}
        </h3>

        <p [innerHTML]="opinion.comment"></p>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
