<mat-card>
  <mat-card-title>
    {{'general.members.tabs.otherOpinions' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content>

    <div class="alert alert-info" *ngIf="!member.opinions || member.opinions.length === 0">
      <p>{{'general.members.detail.opinions.noEntries' | translate}}</p>
    </div>

    <mat-list dense *ngIf="member.opinions">
      <mat-list-item *ngFor="let opinion of member.opinions">

        <h3 matLine *ngIf="opinion.type === 'list'">
          <a [routerLink]="['/members/detail', opinion.assignedMember]">
            {{(members | filterBy: ["id"] : opinion.assignedMember)[0].mainData.firstName}}
            {{(members | filterBy: ["id"] : opinion.assignedMember)[0].mainData.lastName}}
          </a>
          <span fxFlex=""></span>
          <span>{{'general.members.detail.opinionDate' | translate}}
            {{opinion.creationAt.seconds * 1000 | date: 'dd.MM.yy'}}</span>
        </h3>

        <h3 matLine *ngIf="opinion.type === 'insert'">
          {{opinion.name.firstName}} {{opinion.name.lastName}}´s
          <span fxFlex=""></span>
          <span>{{'general.members.detail.opinionDate' | translate}}
            {{opinion.creationAt.seconds * 1000 | date: 'dd.MM.yy'}}</span>
        </h3>

        <p matLine [innerHTML]="opinion.comment"></p>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
