<mat-card>
  <mat-card-header>
    <mat-card-subtitle>{{'general.locations.list.colTitles.name' | translate}}</mat-card-subtitle>
    <mat-card-title>{{location.title}}</mat-card-title>
  </mat-card-header>

  <mat-card-header *ngIf="location.fupaLink">
    <mat-card-subtitle>{{'general.locations.edit.fupaPlaceholder' | translate}}</mat-card-subtitle>
    <mat-card-title><a target="_blank" [href]="location.fupaLink">{{location.fupaLink}}</a></mat-card-title>
  </mat-card-header>

  <mat-card-header>
    <mat-card-subtitle>{{'general.locations.list.colTitles.type' | translate}}</mat-card-subtitle>
    <mat-card-title>
      <a [routerLink]="['/categories/detail', category.id]">{{category.title}}</a>
    </mat-card-title>
  </mat-card-header>

  <mat-card-header>
    <mat-card-subtitle>{{'general.locations.list.colTitles.address' | translate}}</mat-card-subtitle>
    <mat-card-title>
      <div>
        {{location.address.streetName}} {{location.address.houseNumber ? location.address.houseNumber : ''}}<br/>
        {{location.address.zip}} {{location.address.city}}<br/>
        {{location.address.county}}
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-header>
    <mat-card-subtitle>{{'general.locations.list.colTitles.address' | translate}}</mat-card-subtitle>
    <mat-card-title>
      <a *ngIf="location.prices" [href]="location.prices" target="_blank">
        {{ 'general.locations.edit.priceList' | translate}}
      </a>
      <p style="color: red" *ngIf="!location.prices">
        {{'general.locations.detail.noPriceList' | translate}}
      </p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-header>
    <mat-card-subtitle>{{ 'general.locations.edit.opening' | translate }}</mat-card-subtitle>
    <mat-card-title>
      <div *ngIf="location.opening" [innerHtml]="location.opening"></div>
      <p style="color: red" *ngIf="!location.opening">{{'general.locations.detail.noOpening' | translate}}</p>
    </mat-card-title>
  </mat-card-header>

</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
