# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/docs/build

# dependencies
/node_modules


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

src/app/config
/php
package-lock.json
/api-client-python

functions/node_modules
functions/built
functions/firebase-debug.log

functions-cron/appengine/vendor
functions-cron/appengine/composer.lock
functions-cron/appengine/lib
functions-cron/appengine/sf-winterbach-6c45b5d78ed6.json

functions-cron/build
functions-cron/node_modules
functions-cron/package-lock.json
venv

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
