<div fxLayout="column">

  <!--<mat-form-field fxFlex="90">
    <input matInput
           placeholder="{{'general.media.gallery.filter' | translate}}"
           formControlName="search">
  </mat-form-field>-->

  <!-- | filterBy: ['title'] : search -->
  <media-gallery-list [mediaGalleries]="mediaGalleries$ | async"></media-gallery-list>

  <button type="button" style="margin: 10px 0"
          mat-raised-button
          (click)="openGalleryForm()"
          color="accent">
    <mat-icon>create_new_folder</mat-icon>
    {{'general.media.gallery.create' | translate}}
  </button>

  <button type="button"
          color="primary"
          mat-raised-button
          (click)="closeGallerySidebar.emit()">
    {{'general.media.gallery.close' | translate}}
  </button>

</div>




