<mat-card class="mat-card-top">
  <mat-card-title>
    <mat-icon>details</mat-icon>
    {{'general.menu.team.detail' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content *ngIf="team; else loadingTemplate">
    <mat-tab-group [dynamicHeight]="true">
      <mat-tab label="{{'general.teams.edit.mainTitle' | translate}}">
        <team-detail-main [assignedSeason]="assignedSeason$ | async"
                          [assignedClub]="assignedClub$ | async"
                          [assignedTeamCategories]="assignedTeamCategories$ | async"
                          [team]="team">
        </team-detail-main>
      </mat-tab>

      <mat-tab label="{{'general.teams.edit.management.title' | translate}}">
        <team-detail-positions *ngIf="assignedPlayers$ | async as assignedPlayers; else loadingTemplate"
                               [team]="team"
                               [assignedPlayers]="assignedPlayers"
                               [assignedPositions]="assignedPositions$ | async">
        </team-detail-positions>
      </mat-tab>

      <mat-tab label="{{'general.teams.edit.training.title' | translate}}">
        <team-detail-training [team]="team"
                              [assignedLocations]="assignedLocations$ | async">
        </team-detail-training>
      </mat-tab>

      <mat-tab
        label="{{'general.teams.edit.timeLine.title' | translate}} & {{'general.teams.edit.article.title' | translate}}">
        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="10px">
          <div fxFlex.gt-sm="50">
            <team-detail-events [team]="team"></team-detail-events>
          </div>
          <div fxFlex.gt-sm="50">
            <team-detail-articles *ngIf="assignedArticles$ | async as assignedArticles; else loadingTemplate"
                                  [assignedArticles]="assignedArticles">
            </team-detail-articles>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{'general.teams.edit.matches.title' | translate}}">
        <team-detail-matches [assignedTeamCategories]="assignedTeamCategories$ | async"
                             [assignedMatches]="assignedMatches$ | async"
                             [team]="team">
        </team-detail-matches>
      </mat-tab>

      <mat-tab
        label="{{'general.teams.edit.competitions.title' | translate}} &amp; {{'general.teams.edit.standings.title' | translate}}">
        <team-detail-standings [team]="team"></team-detail-standings>
      </mat-tab>

      <mat-tab label="{{'general.teams.edit.media.title' | translate}}">
        <team-detail-media [team]="team"></team-detail-media>
      </mat-tab>
      <mat-tab label="{{'general.teams.edit.playerStatsTitle' | translate}}">
        <team-detail-playerstats *ngIf="assignedPlayers$ | async as assignedPlayers; else loadingTemplate"
                                 [assignedPlayers]="assignedPlayers"
                                 [team]="team">
        </team-detail-playerstats>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions class="px-1 pt-0">
    <div style="margin-top: 25px"
         fxLayoutGap="10px"
         fxLayout.gt-sm="row"
         fxLayout="column">
      <span></span>
      <span fxFlex></span>
      <button type="button"
              mat-raised-button
              color="primary"
              [routerLink]="['/teams']">
        {{'general.menu.team.list' | translate}}
      </button>
      <button type="button"
              mat-raised-button
              color="accent"
              [routerLink]="['/teams/edit', team.id]">
        {{'general.edit' | translate }}
      </button>
      <button type="button"
              mat-raised-button
              color="warn"
              (click)="removeTeam(team)">
        {{'general.delete' | translate }}
      </button>
    </div>
  </mat-card-actions>

  <mat-card-actions>
    <div class="button-row">

    </div>
  </mat-card-actions>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>

<ng-template #noArticlesTemplate>
  <p>{{ 'general.teams.detail.noAssignedArticles' | translate }}</p>
</ng-template>

<ng-template #noImageTemplate>
  <p>{{ 'general.teams.edit.noLogo' | translate }}</p>
</ng-template>
