<mat-card>
  <mat-card-title>{{ 'general.matches.matchesTitle' | translate }}</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="categories$ | async as categories; else loadingTemplate ">
      <div fxLayout="column"
           fxLayout.gt-sm="row"
           fxLayoutGap="10px"
           *ngIf="matches$ | async as matches; else loadingTemplate">
        <div fxFlex.gt-sm="50">
          <mat-card>
            <mat-card-title>{{ 'general.matches.upcomingMatchesTitle' | translate }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content style="max-height: 300px"
                              [perfectScrollbar]="config">
              <match-list [categories]="categories"
                          [matches]="matches | orderBy: ['matchStartDate.seconds']
                                        | matchFilter: 'matchStartDate' : '>='
                                        | matchFilter: 'matchEndDate' : '<=' : inTwoWeeks">
              </match-list>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex.gt-sm="50">
          <mat-card>
            <mat-card-title>{{ 'general.matches.pastMatchesTitle' | translate }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content style="max-height: 300px"
                              [perfectScrollbar]="config">
              <match-list [categories]="categories"
                          [matches]="matches | orderBy: ['-matchEndDate.seconds']
                                      | matchFilter: 'matchEndDate' : '<='
                                      | matchFilter: 'matchEndDate' : '>=' : inLastTwoWeeks">
              </match-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div fxLayout="column"
           fxLayout.gt-sm="row"
           fxLayoutGap="10px" *ngIf="matches$ | async as matches">
        <div fxFlex.gt-sm="50">
          <mat-card>
            <mat-card-title>{{ ('general.dashboard.matchesWithoutResult' | translate)
              + ' ('
              + (matches | orderBy: ['-matchEndDate.seconds'] | matchFilter: 'matchEndDate' : '<=' | matchNoResultFilter).length
              + ')' }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content style="max-height: 300px"
                              [perfectScrollbar]="config">
              <match-list [categories]="categories"
                          [showResultInputs]="true"
                          [matches]="matches
                                | matchFilter: 'matchStartDate' : '<='
                                | matchNoResultFilter  | orderBy: ['-matchEndDate.seconds']">
              </match-list>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex.gt-sm="50">
          <match-preview [categories]="categories"
                         [title]="'general.matches.nextMatchTitle'"
                         [match]="(matches | orderBy: ['matchStartDate.seconds']| matchFilter: 'matchStartDate' : '>=').length > 0 ?
                                        (matches | orderBy: ['matchStartDate.seconds'] | matchFilter: 'matchStartDate' : '>=')[0] : null">
          </match-preview>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
