<div mat-dialog-content>
  <media-center (mediaItemClick)="onMediaItemClick($event)"
                (mediaItemEdit)="onMediaItemEdit($event)"
                [selectedMediaItems]="selectedMediaItems">
  </media-center>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">{{ 'general.media.gallery.cancel' | translate }}</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="onConfirmClick()">{{ 'general.media.gallery.confirm' | translate }}</button>
</div>
