<div fxLayout.gt-sm="row"
     fxLayout="column"
     *ngIf="seasons$ | async as seasons; else loadingTemplate">

  <mat-card fxFlex.gt-sm="25">
    <mat-card-title>
      {{'general.members.edit.assignedAsPlayer' | translate}}
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>

      <p *ngIf="(teams | isTeamMemberFilter : member).length === 0">
        {{'general.members.edit.notAssignedToAnyTeams' | translate}}
      </p>

      <div *ngFor="let season of seasons | seasonsWithTeamsFilter: (teams | isTeamMemberFilter : member)">
        <h3>{{season.title}}</h3>

        <mat-list dense
                  *ngIf="(teams | isTeamMemberFilter : member | orderBy: ['subTitle', 'title'] | filterBy: ['assignedSeason'] : season.id).length > 0">
          <mat-list-item
            *ngFor="let team of teams | isTeamMemberFilter : member | orderBy: ['subTitle', 'title'] | filterBy: ['assignedSeason'] : season.id">
            <a [routerLink]="['/teams/detail', team.id]">{{team.title}} {{team.subTitle}}</a>
            <span fxFlex></span>
            <button mat-icon-button
                    (click)="deleteMemberFromTeam.emit({team: team, member: member})">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-sm="25">
    <mat-card-title>
      Others
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>

    <mat-card-content>
      <!-- ToDo -->
    </mat-card-content>
  </mat-card>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
