<div fxLayout="column" style="padding: 10px; height: 90px; border: 1px dashed #cecece" fxHide.xs>
  <span>UserImage</span>
  <span>UserName</span>
  <span>Logged in since</span>
</div>

<mat-nav-list appAccordion class="navigation">
  <mat-list-item appAccordionLink *ngFor="let menuItem of menuService.getAll()" group="{{menuItem.state}}">
    <a appAccordionToggle class="relative" [routerLink]="['/', menuItem.state]" *ngIf="menuItem.type === 'link'">
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ 'general.menu.' + menuItem.name + '.main' | translate }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle class="relative" href="{{menuItem.state}}" *ngIf="menuItem.type === 'extLink'">
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ 'general.menu.' + menuItem.name + '.main' | translate }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle class="relative" href="{{menuItem.state}}" target="_blank"
       *ngIf="menuItem.type === 'extTabLink'">
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ 'general.menu.' + menuItem.name + '.main' | translate }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle class="relative" href="javascript:;" *ngIf="menuItem.type === 'sub'">
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ 'general.menu.' + menuItem.name + '.main' | translate }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
      <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
    </a>
    <mat-nav-list class="sub-menu" *ngIf="menuItem.type === 'sub'">
      <mat-list-item *ngFor="let childitem of menuItem.children" routerLinkActive="open">
        <a [routerLink]="['/', menuItem.state, childitem.state ]" class="relative">
          <mat-icon>{{ childitem.icon }}</mat-icon>
          {{ 'general.menu.' + menuItem.name + '.' + childitem.name | translate}}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-list-item>
</mat-nav-list>

<pre *ngIf="authService.user$ | async as user">{{user | json}}</pre>
