<mat-card>
  <img *ngIf="memberImage | async as image; else loadingTemplate"
       mat-card-image
       [src]="image.downloadURL" />

  <span *ngIf="assignedPosition && assignedPosition.length > 0 && members">
    <a *ngIf="(members | filterBy: ['id'] : assignedPosition[0].memberId)[0] as member"
       [routerLink]="['/members/detail', member.id]">
      <mat-card-title>{{member.mainData.lastName}} {{member.mainData.firstName}}</mat-card-title>
      <mat-card-subtitle>{{member.mainData.birthday |date :'dd.MM.yy' }}</mat-card-subtitle>
    </a>
  </span>

  <a *ngIf="member && member.mainData"
     [routerLink]="['/members/detail', member.id]">
    <mat-card-title>{{member.mainData.lastName}} {{member.mainData.firstName}}</mat-card-title>
    <mat-card-subtitle>{{member.mainData.birthday |date :'dd.MM.yy' }}</mat-card-subtitle>
  </a>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
