<mat-card [formGroup]="form">
  <mat-card-title>{{'general.teams.edit.training.title' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'general.teams.edit.training.description' | translate}}</mat-card-subtitle>
  <hr/>
  <mat-card-content>
    <p *ngIf="!form.controls['assignedTrainings']">{{'general.teams.edit.training.noTraining' | translate}}</p>

    <div fxLayout="column"
         fxLayout.gt-sm="row wrap">
      <team-training-form fxFlex.gt-sm="50"
                          *ngFor="let training of form.get('assignedTrainings').controls; let i=index"
                          (removeTraining)="removeTraining.emit(i)"
                          [weekdays]="weekdays"
                          [locations]="locations"
                          [form]="form.get('assignedTrainings').controls[i]">
      </team-training-form>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span>
      <button mat-raised-button
              type="button"
              color="primary"
              (click)="addTraining.emit(true)">
        {{ 'general.teams.edit.training.add' | translate}}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
