<mat-card *ngIf="mediaItem"
          style="height: 100%">
  <mat-card-title>{{mediaItem.file.name}}</mat-card-title>

  <mat-card-content class="text-center">

    <img *ngIf="mediaItem.file.type.indexOf('image') > -1"
         [src]="mediaItem.downloadURL"
         alt="{{mediaItem.file.name}}"/>

    <div class="audio-file" *ngIf="mediaItem.file.type.indexOf('audio') > -1">
      <audio controls>
        <source [src]="mediaItem.downloadURL" type="audio/ogg">
        <source [src]="mediaItem.downloadURL" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
    </div>

    <div class="video-file" *ngIf="mediaItem.file.type.indexOf('video') > -1">
      <video class="preview-video" controls>
        <source [src]="mediaItem.downloadURL" type="video/mp4">
        <source [src]="mediaItem.downloadURL" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="other-file-type"
         *ngIf="mediaItem.file.type.indexOf('video') === -1
       && mediaItem.file.type.indexOf('audio') === -1
       && mediaItem.file.type.indexOf('image') === -1">
      <h5>{{mediaItem.file.type}}</h5>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-right">
    <div fxLayout="column"
         fxLayoutGap="15px"
         fxLayout.gt-sm="row">
      <button color="accent"
              mat-mini-fab
              (click)="showInfoDialog(mediaItem)">
        <i class="fa fa-info"></i>
      </button>

      <button color="primary"
              mat-mini-fab
              class="drag-handle"
              cdkDragHandle>
        <i class="fa fa-arrows"></i>
      </button>

      <button color="warn"
              mat-mini-fab
              (click)="removeMediaItem(mediaItem)">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

