<div fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutGap="10px">
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>{{'general.clubs.edit.statistics.title' | translate}}</mat-card-title>
      <mat-card-content *ngIf="members; else loadingTemplate">
        <p *ngIf="members.length === 0">Es sind noch keine Mitglieder vorhanden.</p>
        <mat-list dense *ngIf="members.length > 0">
          <mat-list-item *ngFor="let memberState of memberStateService.getMemberStates()">
            <div matLine
                 fxLayout="row">
              <span fxFlex="80">{{'general.members.clubMemberStates.' + memberState.title | translate}}</span>
              <span fxFlex="20">{{(members | filterBy: ['clubData.assignedClub'] : club.id | filterBy: ['clubData.status'] : memberState.value).length}}</span>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div matLine
                 fxLayout="row">
              <span fxFlex="80">undefiniert</span>
              <span fxFlex="20">{{(members | filterBy: ['clubData.assignedClub'] : club.id | filterBy: ['clubData.status'] : '?').length}}</span>
            </div>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="50">
    <mat-card *ngFor="let season of seasons | orderBy: ['-title']">
      <mat-card-title>{{'general.clubs.edit.assignedTeams.teams' | translate}} {{season.title}}</mat-card-title>
      <mat-card-content *ngIf="teams && members; else loadingTemplate">
        <p *ngIf="!(teams | filterBy: ['isMainTeam']: true | filterBy: ['assignedSeason']: season.id).length">
          Für diese Saison wurden keine Mannschaften angemeldet.
        </p>
        <mat-list dense>
          <mat-list-item
            *ngFor="let team of teams | filterBy: ['isMainTeam']: true | filterBy: ['assignedSeason']: season.id | orderBy: ['title']; let last = last">
            <a [routerLink]="['/teams/detail', team.id]">{{team.title}} {{team.subTitle}}</a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
