<div fxLayout="row">

  <div fxFlex.gt-sm="25"
       fxFlex="100">
    <h3>{{'general.clubs.edit.mainTitle' | translate}}</h3>
    <mat-list dense
              *ngIf="members && club; else loadingTemplate">
      <mat-list-item *ngFor="let memberState of memberStateService.getMemberStates()">
        <div matLine
             fxLayout="row"
        >
          <span fxFlex="60">{{'general.members.clubMemberStates.' + memberState.title | translate}}</span>
          <span fxFlex="40">{{(members | filterBy: ['clubData.assignedClub'] : club.id | filterBy: ['clubData.status'] : memberState.value).length}}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlexOffset.gt-sm="1"
       fxFlex.gt-sm="74"
       fxFlex="100">
    <h3>
      {{'general.clubs.edit.assignedTeams.teams' | translate}} /
      {{'general.clubs.edit.assignedTeams.season' | translate}}
    </h3>

    <div *ngIf="seasons && teams; else loadingTemplate">

      <mat-card *ngFor="let season of seasons | orderBy: ['-title']">
        <mat-card-title>{{season.title}}</mat-card-title>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item *ngFor="let team of teams | filterBy: ['assignedSeason']: season.id | orderBy: ['title']; let last = last">
              <a [routerLink]="['/teams/detail', team.id]">{{team.title}} {{team.subTitle}}</a>
            </mat-list-item>
            <mat-list-item *ngIf="(teams | filterBy: ['assignedSeason']: season.id).length && !last">,</mat-list-item>
            <mat-list-item *ngIf="!(teams | filterBy: ['assignedSeason']: season.id).length">Für diese Saison wurden keine Mannschaften angemeldet.</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
