<mat-card [formGroup]="form">
  <mat-card-title>
    {{'general.matches.edit.events.createEvent' | translate}}
  </mat-card-title>

  <mat-card-content>

    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">

      <mat-form-field fxFlex.gt-sm="50">
        <input matInput
               placeholder="{{'general.matches.edit.events.inputs.title' | translate}}"
               formControlName="title"/>
      </mat-form-field>

      <mat-form-field fxFlex.gt-sm="30">
        <mat-select placeholder="{{'general.matches.edit.events.inputs.assignedEventCategory' | translate}}"
                    formControlName="assignedCategory">
          <mat-option *ngFor="let category of categories | orderBy: ['title']"
                      [value]="category.id">
            {{category.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex.gt-sm="18">
        <mat-select placeholder="{{'general.matches.edit.events.inputs.playMinute' | translate}}"
                    formControlName="playMinute">
          <mat-option *ngFor="let minute of playMinutes"
                      [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div fxLayout="column">
      <div fxFlex.gt-sm="100">
        <label style="margin-top: 15px;">
          {{'general.matches.edit.events.inputs.description' | translate}}
        </label><br/>
        <quill-editor [style]="{height: '150px'}"
                      formControlName="description">
        </quill-editor>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span>
      <button mat-icon-button
              color="primary"
              title="{{'general.save' | translate}}"
              [disabled]="form.invalid"
              (click)="save(form.value)">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </mat-card-actions>

</mat-card>
