<mat-sidenav-container fxFlexFill
                       *ngIf="article"
                       [formGroup]="form"
                       style="padding: 0 25px;">

  <mat-sidenav #settings
               position="end"
               class="chat-panel"
               [mode]="'side'"
               [opened]="sidePanelOpened"
               (open)="sidePanelOpened = true"
               (close)="sidePanelOpened = false">

    <div fxLayout.gt-sm="row"
         fxLayout="column"
         fxLayoutAlign="space-between center">
      <span style="font-weight: bold; font-size: larger">{{ 'general.articles.edit.sidebar.title' | translate }}</span>
      <span class="space"></span>
      <button mat-icon-button (click)="sidePanelOpened = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <article-edit-sidebar [form]="form"
                          [article]="article"
                          (uploadCompleted)="uploadCompleted($event)"
                          (removeArticle)="removeArticle()">
    </article-edit-sidebar>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="header">
      <h2 class="title">{{'general.articles.edit.title' | translate}}
        <span style="float: right; text-transform: none" [class]="articleStatus">
          {{ 'general.articles.edit.articleStatus.' + articleStatus | translate}}
        </span>
      </h2>

      <div fxLayout.gt-sm="row"
           fxLayout="column"
           fxLayoutAlign="space-between center">

        <input fxFlex="60"
               class="title-document"
               type="text"
               placeholder="{{'general.articles.edit.titlePlaceholder' | translate}}"
               formControlName="title">

        <span class="spacer"></span>

        <div>
          <button mat-raised-button
                  [matMenuTriggerFor]="menu"
                  title="{{'general.articles.edit.publish.menuButton' | translate}}">
            {{'general.articles.edit.publish.menuButton' | translate}} &darr;
          </button>
          <button mat-raised-button
                  (click)="togglePreview()"
                  [disabled]="!form.get('text').value"
                  [color]="showPreview ? 'warn' : ''"
                  title="{{'general.articles.edit.show.text' | translate}}">
            {{ showPreview
            ? ('general.articles.edit.show.text' | translate)
            : 'general.articles.edit.show.preview' | translate}}
          </button>
          <button *ngIf="isSmallDevice"
                  [title]="sidePanelOpened ? ('general.articles.edit.options.close' | translate) : ('general.articles.edit.options.show' | translate)"
                  mat-raised-button
                  (click)="sidePanelOpened = !sidePanelOpened">
            {{'general.articles.edit.options.title' | translate}}
          </button>

          <button *ngIf="!isSmallDevice"
                  mat-icon-button
                  [title]="sidePanelOpened ? ('general.articles.edit.options.close' | translate) : ('general.articles.edit.options.show' | translate)"
                  (click)="sidePanelOpened = !sidePanelOpened">
            <mat-icon *ngIf="sidePanelOpened">arrow_forward_ios</mat-icon>
            <mat-icon *ngIf="!sidePanelOpened">arrow_back_ios</mat-icon>
          </button>
        </div>

        <mat-menu #menu="matMenu"
                  formGroupName="publication">
          <div style="padding: 10px 10px;">
            <h5>{{'general.articles.edit.publish.question' | translate}}</h5>
            <mat-radio-group class="radio-group"
                             formControlName="status">
              <mat-radio-button (click)="$event.stopPropagation()"
                                class="radio-button"
                                *ngFor="let publication of publicationOptions"
                                [value]="publication.value"
                                style="margin: 10px 0">
                {{ 'general.articles.edit.publish.' + publication.text | translate}}<br/>
                <span style="color: #cecece">
                  {{ 'general.articles.edit.publish.' + publication.description | translate}}
                </span>
              </mat-radio-button>
            </mat-radio-group>

            <div style="padding-left: 30px" *ngIf="form.get('publication').get('status').value === 2">
              <p>{{ 'general.articles.edit.publish.chooseDateTime' | translate}}</p>
              <input formControlName="dateTime"
                     [owlDateTime]="dt3"
                     [owlDateTimeTrigger]="dt3">
              <owl-date-time [pickerMode]="'dialog'" #dt3></owl-date-time>
            </div>


            <hr style="margin: 25px 0;"/>
            <div class="button-row">
              <button mat-button
                      (click)="resetPublication()"
                      type="button"
                      title="{{'general.cancel' | translate}}">
                {{ 'general.articles.edit.publish.draft' | translate}}
              </button>
              <button mat-raised-button
                      type="button"
                      color="primary"
                      title="{{'general.articles.edit.publish.button' | translate}}">
                {{'general.articles.edit.publish.button' | translate}}
              </button>
            </div>
          </div>
        </mat-menu>

      </div>
    </div>

    <div [froalaEditor]="froalaOptions"
         [(froalaModel)]="text"
         *ngIf="!showPreview"
         style="height: 60vh"
         formControlName="text">
      {{'general.articles.edit.textPlaceholder' | translate}}
    </div>

    <div *ngIf="showPreview">
      <div [froalaView]="text"></div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
