@charset "UTF-8";

.header {
  border-bottom: 1px solid #e8e8e8;
}

.title {
  color: #a0aabf;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1rem;
  margin-bottom: 0.77999rem;
  margin-top: 1rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0.22001rem;
  text-transform: uppercase;
}

.title-document {
  border: none;
  color: #373d49;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 0.29999rem;
  outline: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0.10001rem;
  width: 80%;
}

/*
.editor-header {
  border-bottom: 1px solid #e8e8e8;
}

.editor-header--first {
  border-right: 1px solid #e8e8e8;
}

.editor-header .title {
  display: inline-block;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.words,
.settings,
.characters {
  color: #a0aabf;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1rem;
  padding: 0.22001rem 0;
  // position: absolute;
  // right: 16px;
  text-transform: uppercase;
  // top: 0;
  z-index: 5;
}

.words span,
.characters span {
  color: #000;
}

.split {
  //margin: 0 !important;
  // padding: 0 !important;
  z-index: 3;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 0 5px;
}

.chat-panel {
  padding: 10px 20px;
} */

.spacer {
  flex: 1 1 auto;
}
