@charset "UTF-8";
// @import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css');

/*
.page-wrap {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  will-change: left;
  z-index: 2;
}

.content {
  flex: 1;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

i.separator {
  border-left: 1px solid #dae8f1;
  border-right: none;
  margin: 0 5px;
}

h2 {
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-size: 1.953125rem;
  margin-bottom: 0.1835837rem;
  padding-top: 0.8164163rem;
  line-height: 3rem;
}
*/
.header {
  border-bottom: 1px solid #e8e8e8;
}

.title {
  color: #a0aabf;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1rem;
  margin-bottom: 0.77999rem;
  margin-top: 1rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0.22001rem;
  text-transform: uppercase;
}

.title-document {
  border: none;
  color: #373d49;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8rem;
  // margin-bottom: 0.89999rem;
  outline: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0.10001rem;
  width: 80%;
}

/*
.editor-header {
  border-bottom: 1px solid #e8e8e8;
}

.editor-header--first {
  border-right: 1px solid #e8e8e8;
}

.editor-header .title {
  display: inline-block;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.words,
.settings,
.characters {
  color: #a0aabf;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1rem;
  padding: 0.22001rem 0;
  // position: absolute;
  // right: 16px;
  text-transform: uppercase;
  // top: 0;
  z-index: 5;
}

.words span,
.characters span {
  color: #000;
}

.split {
  //margin: 0 !important;
  // padding: 0 !important;
  z-index: 3;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 0 5px;
}

.chat-panel {
  padding: 10px 20px;
} */

.spacer {
  flex: 1 1 auto;
}
