@charset "UTF-8";

.header {
  border-bottom: 1px solid #e8e8e8;
}

.title {
  color: #a0aabf;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1rem;
  margin-bottom: 0.77999rem;
  margin-top: 1rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0.22001rem;
  text-transform: uppercase;
}

.title-document {
  border: none;
  color: #373d49;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 0.29999rem;
  outline: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0.10001rem;
  width: 80%;
}

.spacer {
  flex: 1 1 auto;
}

.chat-panel {
  padding: 10px;
}
