<mat-card *ngIf="match && categories">
  <mat-card-title>
    <a [routerLink]="['/matches/edit', match.id]">
      {{ title | translate }}{{match.title}}
    </a>
  </mat-card-title>
  <mat-card-subtitle>
    {{match.matchStartDate.seconds * 1000 | date : 'dd.MM.yy H:m'}} {{'general.oClock' | translate}}
    <a *ngFor="let location of locations$ | async | filterBy: ['id'] : match.assignedLocation"
       [routerLink]="['/locations/detail', location.id]">{{location.title}}
    </a>
  </mat-card-subtitle>
  <mat-card-content>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px"
         fxLayoutAlign="space-evenly start">
      <div>
        <h3><a target="_blank" [href]="match.homeTeam.externalTeamLink">{{match.homeTeam.title}}</a></h3>
        <img [src]="match.homeTeam.logoURL"/>
      </div>
      <div>
        <h3><a target="_blank" [href]="match.guestTeam.externalTeamLink">{{match.guestTeam.title}}</a></h3>
        <img [src]="match.guestTeam.logoURL"/>
      </div>
    </div>

    <p style="text-align: center">
      {{match.matchType}} | <a *ngIf="match.isOfficialMatch" [href]="match.matchLink" target="_blank">Link</a>
    </p>

    <mat-chip-list>
      <mat-chip *ngFor="let category of categories | filterBy: ['id'] : match.assignedCategories.assignedCategory"
                [routerLink]="['/categories/detail', category.id]">
        {{category.title}}
      </mat-chip>&nbsp;
      <mat-chip *ngFor="let category of categories | filterBy: ['id'] : match.assignedCategories.assignedMainCategory"
                [routerLink]="['/categories/detail', category.id]">
        {{category.title}}
      </mat-chip>&nbsp;
      <mat-chip
        *ngFor="let category of categories | filterBy: ['id'] : match.assignedCategories.assignedLocationCategory"
        [routerLink]="['/categories/detail', category.id]">
        {{category.title}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
