<mat-tab-group (selectedTabChange)="onTabChange($event)"
               [dynamicHeight]="true">

  <mat-tab label="{{ 'general.articles.edit.sidebar.main.title' | translate }}">
    <sidebar-main-data (changeArticle)="changeArticle.emit($event)"
                       [article]="article"
                       [users]="users$ | async">
    </sidebar-main-data>

    <div class="row" style="margin-bottom: 25px">
      <button (click)="removeArticle.emit()"
              type="button"
              mat-raised-button
              color="warn">
        {{'general.articles.edit.deleteArticle' | translate}}
      </button>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'general.articles.edit.sidebar.links.title' | translate }}">
    <sidebar-links-data *ngIf="selectedTab === 1"
                        [article]="article"
                        (changeArticle)="changeArticle.emit($event)"
                        [categoryTypes]="categoryTypes$ | async | categoryFilter : 'link' : ['article.types', 'team.types']"
                        [categories]="categories$ | async"
                        [locations]="locations$ | async"
                        [seasons]="seasons$ | async"
                        [teams]="teams$ | async">
    </sidebar-links-data>
  </mat-tab>

  <mat-tab label="{{ 'general.articles.edit.sidebar.meta.title' | translate }}">
    <sidebar-meta-data *ngIf="selectedTab === 2"
                       (uploadCompleted)="uploadCompleted.emit($event)"
                       [article]="article"
                       (changeArticle)="changeArticle.emit($event)">
    </sidebar-meta-data>
  </mat-tab>

</mat-tab-group>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
