<mat-tab-group [formGroup]="form"
               [dynamicHeight]="true">
  <!-- *ngIf="categories && categoryTypes && locations && seasons && users &&
               teams; else loadingTemplate" -->
  <mat-tab label="{{ 'general.articles.edit.sidebar.main.title' | translate }}">
    <sidebar-main-data [form]="form"
                       (removeArticle)="removeArticle.emit($event)">
      <!-- [categoryTypes]="categoryTypes | categoryFilter : 'link' : ['article.types', 'team.types']"
                       [categories]="categories"
                       [locations]="locations"
                       [users]="users"
                       [seasons]="seasons"
                       [teams]="teams" -->
    </sidebar-main-data>

    <div class="row" style="margin-bottom: 25px">
      <button (click)="removeArticle.emit()"
              type="button"
              mat-raised-button
              color="warn">
        {{'general.articles.edit.deleteArticle' | translate}}
      </button>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'general.articles.edit.sidebar.links.title' | translate }}">
    <sidebar-links-data [form]="form"></sidebar-links-data>
  </mat-tab>

  <mat-tab label="{{ 'general.articles.edit.sidebar.meta.title' | translate }}">
    <sidebar-meta-data [form]="form">
      <!-- [applications]="applicationService.applications$ | async" -->
    </sidebar-meta-data>
  </mat-tab>
</mat-tab-group>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
