<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex="100">
    <mat-tab-group *ngIf="categories && categoryTypes && locations && seasons && users && teams; else loadingTemplate"
                   [formGroup]="form"
                   [dynamicHeight]="true">
      <mat-tab label="Artikel-Daten">
        <sidebar-main-data [form]="form"
                           [categoryTypes]="categoryTypes | categoryFilter : 'link' : ['article.types', 'team.types']"
                           [categories]="categories"
                           [locations]="locations"
                           [users]="users"
                           [seasons]="seasons"
                           [teams]="teams"
                           (remove)="remove.emit($event)">
        </sidebar-main-data>
      </mat-tab>

      <mat-tab label="Soziale Netzwerke">
        <sidebar-meta-data [form]="form"
                           [applications]="applicationService.applications$ | async">
        </sidebar-meta-data>
      </mat-tab>
      <mat-tab label="Close" (click)="notifications.toggle()"></mat-tab>
    </mat-tab-group>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
