<mat-card [formGroup]="form">
  <mat-card-title>
    <mat-icon>mode_edit</mat-icon>
    {{ club.id ? ('general.menu.club.edit' | translate) : 'general.menu.club.create' | translate }}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content *ngIf="club; else loadingTemplate">

    <mat-tab-group [dynamicHeight]="true"
                   *ngIf="members$ | async as members; else loadingTemplate">

      <mat-tab label="{{'general.clubs.edit.mainTitle' | translate}}">
        <club-edit-main [club]="club"
                        [locations]="locations$ | async"
                        [members]="members"
                        [form]="form">
        </club-edit-main>
      </mat-tab>

      <mat-tab label="{{ 'general.clubs.edit.historyTitle' | translate }}">
        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="10px">
          <div fxFlex.gt-sm="50">
            <club-history [form]="form"></club-history>
          </div>
          <div fxFlex.gt-sm="50">
            <club-timeline (add)="addTimeLineEvent()"
                           (delete)="removeTimeLineEvent($event)"
                           (edit)="editTimeLineEvent($event)"
                           (save)="saveTimeLineEvent()"
                           [selectedTimeLineEvent]="selectedClubTimeLineEvent"
                           [form]="form">
            </club-timeline>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'general.clubs.edit.managementTitle' | translate }}">
        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="10px">
          <div fxFlex.gt-sm="50">
            <club-management-photo [club]="club"
                                   [form]="form">
            </club-management-photo>
          </div>

          <div fxFlex.gt-sm="50">
            <club-management *ngIf="positions$ | async as positions; else loadingTemplate"
                             (add)="addClubManagementPosition()"
                             (delete)="removeClubManagementPosition($event)"
                             (edit)="editClubManagementPosition($event)"
                             (save)="saveClubManagementPosition()"
                             (cancel)="cancelClubManagementPosition()"
                             [selectedClubManagementPosition]="selectedClubManagementPosition"
                             [members]="members"
                             [showLinks]="true"
                             [club]="club"
                             [positions]="positions"
                             [form]="form">
            </club-management>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'general.clubs.edit.honoraries.title' | translate}}">
        <club-honoraries (add)="addHonorary()"
                         (delete)="removeHonorary($event)"
                         (edit)="editHonorary($event)"
                         (save)="saveHonorary()"
                         [members]="members | filterBy: ['clubData.status'] : '2'"
                         [selectedHonorary]="selectedHonorary"
                         [club]="club"
                         [form]="form.get('honoraries')">
        </club-honoraries>
      </mat-tab>

      <mat-tab label="{{ 'general.clubs.edit.mediaTitle' | translate }}">
        <club-edit-media [club]="club"></club-edit-media>
      </mat-tab>

      <mat-tab label="{{ 'general.clubs.edit.uploaderTitle' | translate }}">
        <media-uploader [uploaderConfig]="uploaderConfig"
                        [uploaderOptions]="uploaderOptions">
        </media-uploader>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions fxLayout.xs="column"
                    fxLayoutGap="10px">
    <span fxFlex></span>
    <div>
      <button type="button"
              mat-raised-button
              color="primary"
              [routerLink]="['/clubs']">
        {{'general.menu.club.list' | translate}}
      </button>
      <button type="button"
              mat-raised-button
              color="accent"
              [routerLink]="['/clubs/detail', club.id]">
        {{'general.detail' | translate }}
      </button>
      <button type="button"
              mat-raised-button
              color="warn"
              (click)="removeClub(club)">
        {{'general.delete' | translate }}
      </button>
    </div>
  </mat-card-actions>

</mat-card>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
