<mat-card [formGroup]="form">
  <mat-card-title>
    {{'general.matches.edit.articles.assignArticleTitle' | translate}}
  </mat-card-title>

  <mat-card-content>

    <mat-form-field fxFlex.gt-sm="100">
      <mat-select multiple
                  placeholder="{{'general.matches.edit.articles.assignArticle' | translate}}"
                  formControlName="assignedArticles">
        <mat-option *ngFor="let article of articles | orderBy: ['title']"
                    [value]="article">
          {{article.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>

</mat-card>
