<mat-card *ngIf="articles">
  <mat-card-title>{{'general.matches.edit.assignArticleTitle' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'general.matches.edit.assignArticleDescription' | translate}}</mat-card-subtitle>
  <hr/>
  <mat-card-content fxLayout="column"
                    [formGroup]="form">

    <mat-form-field fxFlex.gt-sm="100">
      <mat-select placeholder="{{'general.matches.edit.assignArticle' | translate}}"
                  multiple=""
                  formControlName="assignArticles">
        <mat-option
          *ngFor="let article of articles | without: (articles | filterBy: ['assignedMatches']: match.id) | orderBy: ['title']"
                    [value]="article">
          {{article.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span><!-- [disabled]="form.invalid" -->
      <button mat-raised-button

              (click)="assignArticlesToMatch()"
              color="primary">
        {{'general.matches.edit.assignArticleToMatch' | translate}}
      </button>
    </div>
  </mat-card-actions>

</mat-card>
