<mat-card [formGroup]="form">
  <mat-card-title>
    {{'general.matches.edit.articles.assignArticleTitle' | translate}}
  </mat-card-title>

  <mat-card-content fxLayout="column"
                    fxLayoutGap="15px"
                    fxLayout.gt-sm="row">


    <!--<mat-form-field fxFlex.gt-sm="80">
      <mat-select multiple
                  placeholder="{{'general.matches.edit.articles.assignArticle' | translate}}"
                  formControlName="assignArticles">
        <mat-option *ngFor="let article of notAssignedArticles | orderBy: ['title']"
                    [value]="article">
          {{article.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->

    <div>
      <button mat-raised-button
              (click)="assignArticlesToMatch()"
              color="primary">
        {{'general.matches.edit.articles.assignArticleToMatch' | translate}}
      </button>
    </div>

  </mat-card-content>

</mat-card>
