<mat-card>
  <mat-card-header>
    <img *ngIf="teamLogo | async as logo; else loadingTemplate"
         matCardAvatar
         [src]="logo.downloadURL">
    <mat-card-title>{{team.title}}</mat-card-title>
    <mat-card-subtitle>{{team.subTitle}}</mat-card-subtitle>
  </mat-card-header>

  <img *ngIf="teamImage | async as image; else loadingTemplate"
       mat-card-image
       [src]="image.downloadURL">

  <mat-card-content *ngIf="categories && clubs && seasons; else loadingTemplate">

    <div fxLayout.gt-sm="row"
         fxLayout="column">
      <div>{{'general.teams.edit.assignedClub' | translate}}</div>
      <span fxFlex></span>
      <div>
        <a [routerLink]="['clubs/detail', club.id]"
           *ngFor="let club of clubs | filterBy: ['id'] : team.assignedClub">
          {{club.title}}
        </a>
      </div>
    </div>

    <div style="margin-top: 25px"
         fxLayout.gt-sm="row"
         fxLayout="column">
      <div>
        {{'general.teams.edit.assignedCategories' | translate}}
      </div>
      <span fxFlex></span>
      <div>
        <a *ngFor="let categoryId of team.assignedTeamCategories; let last = last"
           [routerLink]="['/categories/detail', categoryId]">
          {{(categories | filterBy: ['id'] : categoryId)[0].title}}
          <span *ngIf="!last">, </span>
        </a>
      </div>
    </div>

    <div style="margin-top: 25px"
         fxLayout.gt-sm="row"
         fxLayout="column">
      <div>
        {{'general.teams.edit.externalLink' | translate}}
      </div>
      <span fxFlex></span>
      <div>
        <a target="_blank" [href]="team.externalTeamLink">{{'general.teams.edit.visitExternalLink' | translate}}</a>
      </div>
    </div>

    <div style="margin-top: 25px"
         fxLayout.gt-sm="row"
         fxLayout="column">
      <div>
        {{'general.teams.edit.assignedSeason' | translate}}
      </div>
      <span fxFlex></span>
      <div>
            <span *ngFor="let season of seasons | filterBy: ['id'] : team.assignedSeason">
              {{season.title}}
            </span>
      </div>
    </div>

    <div style="margin-top: 25px"
         fxLayout.gt-sm="row"
         fxLayout="column">
      <div>
        {{'general.teams.edit.isOfficialTeam' | translate}}
      </div>
      <span fxFlex></span>
      <div>
        <mat-checkbox class="right"
                      [disabled]="true"
                      [checked]="team.isOfficialTeam">
        </mat-checkbox>
      </div>
    </div>

    <div style="margin-top: 25px"
         fxLayout.gt-sm="row"
         fxLayout="column">
      <div>
        {{'general.teams.edit.isMainTeam' | translate}}
      </div>
      <span fxFlex></span>
      <div>
        <mat-checkbox class="right"
                      [disabled]="true"
                      [checked]="team.isMainTeam">
        </mat-checkbox>
      </div>
    </div>
  </mat-card-content>

</mat-card>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
