<mat-card>
  <mat-card-title>
    <mat-toolbar-row>
      <mat-icon>list</mat-icon>
      {{'general.menu.article.main' | translate}}
      <span class="spacer"></span>
      <button mat-raised-button
         [routerLink]="['/articles/create']"
         color="primary">
        {{'general.articles.list.addArticle' | translate}}
      </button>
    </mat-toolbar-row>

  </mat-card-title>
  <mat-card-content>

    <div fxLayout="direction"
         fxLayoutAlign="center center"
         style="margin-bottom: 25px;">
      <article-list-filter fxFlex.gt-sm="80"
                           fxFlex="100"
                           [form]="form">
      </article-list-filter>
    </div>

    <article-list [categories]="categories$ | async"
                  [articles]="articles$ | async"
                  (remove)="removeArticle($event)"
                  (update)="updateArticle($event)">
    </article-list>
  </mat-card-content>
</mat-card>
