<mat-card>
  <mat-card-title>
    <mat-toolbar-row>
      <mat-icon>list</mat-icon>
      {{'general.menu.article.main' | translate}}
      <span class="spacer"></span>
      <button mat-raised-button [routerLink]="['/articles/create']" color="primary">
        {{'general.articles.list.addArticle' | translate}}
      </button>
    </mat-toolbar-row>

  </mat-card-title>
  <mat-card-content>

    <article-list-filter></article-list-filter>

    <ng-container *ngIf="infinite | async as articles">
      <cdk-virtual-scroll-viewport [itemSize]="itemSize"
                                   (scrolledIndexChange)="nextBatch($event, (articles[articles.length - 1].title))">

        <article-card *cdkVirtualFor="let article of articles; let i = index; trackBy: trackByIdx"
                      [showDeleteButton]="true"
                      [showText]="true"
                      [itemSize]="itemSize"
                      [article]="article">
        </article-card>

        <div class="alert alert-warning" *ngIf="theEnd">
          {{'general.articles.list.endMessage' | translate}}
        </div>

      </cdk-virtual-scroll-viewport>
    </ng-container>

  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
