<mat-list-item [ngClass]="cssClass">
  <img style="border-radius: 0"
       mat-list-avatar
       src="{{match.homeTeam.logoURL}}"
       title="{{match.homeTeam.title}}"/>

  <img style="border-radius: 0"
       mat-list-avatar
       src="{{match.guestTeam.logoURL}}"
       title="{{match.guestTeam.title}}"/>

  <h3 matLine>
    <a [routerLink]="['/matches/detail', match.id]">
      {{match.homeTeam.title}} &ndash; {{match.guestTeam.title}}
    </a>

    <span fxFlex></span>

    <match-result-input *ngIf="showResultInputs"
                        (setCssClass)="setCssClass($event, i)"
                        [match]="match">
    </match-result-input>

    <div *ngIf="showResult && match.result">
      <span *ngIf="match.result.homeTeamGoals && match.result.guestTeamGoals || (match.result.homeTeamGoals === 0 || match.result.guestTeamGoals === 0)">
        {{match.result.homeTeamGoals}} : {{match.result.guestTeamGoals}}
      </span>
      <span *ngIf="match.result.otherEvent">
        <span [innerHTML]="match.result.otherEvent"></span>
      </span>
    </div>

    <div *ngIf="!showResult && !showResultInputs">
      <span *ngIf="match.result && match.result.otherEvent" [innerHTML]="match.result.otherEvent"></span>
      <span *ngIf="!match.result || !match.result.otherEvent">
        {{match.matchStartDate.seconds *1000 | date: 'dd.MM.yy HH:mm'}}
      </span>
    </div>

  </h3>

  <p matLine>
    <span *ngFor="let categoryId of match.assignedCategories; let last = last">
      <a [routerLink]="['/categories/detail', categoryId]">
        {{(categories | filterBy: ['id'] : categoryId)[0].title}}
      </a><span *ngIf="!last">,</span>
    </span>
    - {{match.matchType}}
  </p>
</mat-list-item>
