<mat-card>
  <mat-card-title fxLayout="column"
                  fxLayout.gt-sm="row"
                  fxLayoutGap="10px">
    <h3>{{'general.matches.edit.startingEleven.title' | translate}}</h3>

    <span fxFlex=""></span>
    <mat-form-field>
      <mat-select placeholder="{{'general.matches.edit.tacticalFormation' | translate}}"
                  (selectionChange)="setFormation($event)">
        <mat-option *ngFor="let formation of tacticalFormations | orderBy: ['title']"
                    [value]="formation">
          {{formation.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-title>

  <mat-card-content fxLayout="column"
                    fxLayout.gt-sm="row">

    <match-edit-starting-eleven *ngIf="assignedFormation"
                                fxFlex="90"
                                [match]="match"
                                [assignedFormation]="assignedFormation">
    </match-edit-starting-eleven>

    <match-edit-substitutions *ngIf="assignedFormation"
                              fxFlex="10"
                              [match]="match"
                              [assignedFormation]="assignedFormation">
    </match-edit-substitutions>

  </mat-card-content>

  <mat-card-actions>
    <match-edit-player-list [match]="match"
                            [assignedTeamPlayers]="assignedTeamPlayers">
    </match-edit-player-list>
  </mat-card-actions>

</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
