<mat-card [formGroup]="form">
  <mat-card-title *ngIf="assignedTeamPlayers"
                  fxLayout="column"
                  fxLayout.gt-sm="row"
                  fxLayoutGap="10px">
    <h3>{{'general.matches.edit.startingEleven.title' | translate}}</h3>

    <span fxFlex=""></span>
    <mat-form-field>
      <mat-select placeholder="{{'general.matches.edit.tacticalFormation' | translate}}"
                  formControlName="assignedFormation" (selectionChange)="changeFormation($event)">
        <mat-option *ngFor="let formation of tacticalFormations | orderBy: ['title']"
                    [value]="formation.title">
          {{formation.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-title>


  <mat-card-content *ngIf="assignedTeamPlayers && match.assignedFormation"
                    fxLayout="column"
                    fxLayout.gt-sm="row">

    <!-- Starting 11 -->
    <div fxFlex="90"
         class="soccer-field">

      <div *ngFor="let i of thirty">

        <match-field-square *ngIf="getCoordinates(i) as position"
                            [kp]="playerPositions"
                            [match]="match"
                            [members]="[]"
                            [position]="position">
        </match-field-square>

        <!--<cdk-drop #startingElevenList
                  [connectedTo]="connectedToDropables"
                  class="list"
                  (dropped)="drop($event)"><!-- [data]="done"

          <match-field-square *ngIf="getCoordinates(i) as position"
                              cdkDrag
                              [kp]="kp"
                              [members]="members"
                              [match]="match"
                              [position]="position">
          </match-field-square>

          <div class="box" *ngFor="let item of done" cdkDrag>{{item}}</div>

        </cdk-drop>-->
      </div>

    </div>

    <!-- Substitutions -->
    <div class="substitutions"
         fxFlex="10">
      <mat-card-subtitle>{{'general.matches.edit.substituteBench' | translate}}</mat-card-subtitle>
      <div fxLayout="column"
           fxLayout.gt-sm="row">
        <cdk-drop fxFlex="100"
                  #playerList
                  [connectedTo]="[substitutionList]"
                  class="list-sorted"
                  (dropped)="addToList($event)"
                  [data]="items">
          <match-player *ngFor="let item of items" cdkDrag></match-player>
        </cdk-drop>
      </div>
    </div>
  </mat-card-content>

  <!-- PlayerList -->
  <mat-card-actions>
    <mat-card-subtitle>{{'general.matches.edit.squad' | translate}}</mat-card-subtitle>

    <p *ngIf="!assignedTeamPlayers || assignedTeamPlayers.length === 0">
      {{'general.matches.edit.noAssignedPlayers' | translate}}
    </p>

    <div fxLayout="column"
         fxLayout.gt-sm="row">
      <cdk-drop fxFlex="100"
                orientation="horizontal"
                #substitutionList
                [connectedTo]="[playerList]"
                class="playerList"
                (dropped)="addToList($event)"
                [data]="assignedTeamPlayers">
        <match-player *ngFor="let item of assignedTeamPlayers"
                      cdkDrag
                      fxFlex="8.25"
                      [member]="item">
        </match-player>
      </cdk-drop>
    </div>
  </mat-card-actions>

</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
