mat-card-content {
  margin: 0;
  padding: 0 !important;
}

.playerList {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: auto;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.box:last-child {
  border: none;
}

.soccer-field {
  background: transparent url('/assets/sfw/match/soccer-field.jpg') center center / cover no-repeat;
  min-height: 550px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(6, 12%);
  color: white;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.playerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.player {
  margin-top: 5px;
  padding: 10px;
  border: solid 1px #ccc;
  min-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #539260;
  font-size: 14px;
  border-radius: 10px;

}

.soccer-field-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.soccer-field-list-item {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 70px;
}

