<div fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutGap="10px">

  <div fxFlex.gt-sm="75">
    <mat-card>
      <mat-card-title>{{'general.menu.club.detail' | translate}}</mat-card-title>
      <hr/>
      <mat-card-content>
        <mat-list fxLayout="column">

          <mat-list-item>
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.title' | translate}}</h3>
            {{club.title}}
          </mat-list-item>

          <mat-list-item>
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.fussballDeId' | translate}}</h3>
            {{club.fussballde.clubId}}
          </mat-list-item>

          <mat-list-item>
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.fussballDeUrl' | translate}}</h3>
            <a target="_blank" [href]="club.fussballde.clubUrl">{{club.fussballde.clubUrl}}</a>
          </mat-list-item>

          <mat-list-item *ngIf="club.info">
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.foundedIn' | translate}}</h3>
            {{club.info.founding}}
          </mat-list-item>

          <mat-list-item *ngIf="club.info">
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.clubColours' | translate}}</h3>
            {{club.info.clubColours}}
          </mat-list-item>

          <mat-list-item>
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.contact' | translate}}</h3>
            <span *ngIf="club.info && club.info.assignedContact">
              {{club.info.assignedContact}}
            </span>
            <span *ngIf="!club.info || !club.info.assignedContact">
              {{'general.clubs.edit.noAssignedContact' | translate}}
            </span>
          </mat-list-item>

          <mat-list-item *ngIf="club.info && club.info.website">
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.homepage' | translate}}</h3>
            <a target="_blank" [href]="'http://' + club.info.website">{{club.info.website}}</a>
          </mat-list-item>

          <mat-list-item>
            <h3 fxFlex.gt-sm="25">{{'general.clubs.edit.location' | translate}}</h3>
            <span *ngIf="club.assignedLocation">
              <a [routerLink]="['/locations/detail', club.assignedLocation]"
                 *ngFor="let location of locations | filterBy: ['id'] : club.assignedLocation">
                {{location.title}}
              </a>
            </span>
            <span *ngIf="!club.assignedLocation">{{'general.clubs.edit.noAssignedLocationTemplate' | translate}}</span>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>{{'general.clubs.edit.description' | translate}}</mat-card-title>
      <hr/>
      <mat-card-content>
        <div *ngIf="club.description" [innerHTML]="club.description"></div>
        <div class="alert alert-info"
             *ngIf="!club.description">
          <p>{{'general.clubs.edit.noDescription' | translate}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlex.gt-sm="25">
    <mat-card>
      <mat-card-title>
        {{'general.clubs.edit.logoTitle' | translate}}
      </mat-card-title>
      <hr/>
      <mat-card-content>
        <img *ngIf="clubLogo | async as image; else loadingTemplate"
             mat-card-image
             [src]="image.downloadURL">
      </mat-card-content>
    </mat-card>
  </div>
</div>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>

<ng-template #noLogoTemplate>
  <p>{{'general.clubs.edit.noLogo' | translate}}</p>
</ng-template>

