<mat-card>
  <mat-card-header>
    <mat-card-title>{{'general.locations.detail.assignedArticles' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="alert alert-info" *ngIf="!assignedArticles || assignedArticles.length === 0">
      <p>{{ 'general.locations.detail.noAssignedArticles' | translate }}</p>
    </div>

    <ul *ngIf="assignedArticles && assignedArticles.length > 0">
      <li *ngFor="let article of assignedArticles | orderBy: ['-articleDate']">
        <a [routerLink]="['/articles/detail', article.id]">
          {{article.title}} {{article.articleDate.seconds *1000 | date: 'dd.MM.yy'}}
        </a>
      </li>
    </ul>

  </mat-card-content>
</mat-card>
