<div fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutGap="10px">

  <div fxFlex.gt-sm="20">
    <h3>{{'general.applications.static.currentStaticPages' | translate}}</h3>
    <p *ngIf="form.length === 0">
      {{'general.applications.static.noStaticPagesFound' | translate}}
    </p>

    <mat-list>
      <mat-list-item *ngFor="let staticPage of form; let i = index">
        <a (click)="setSelectedStaticPage.emit(form[i])" mat-line>{{form[i].controls.title.value}}</a>

        <button mat-icon-button (click)="removeStaticPage.emit(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <button mat-raised-button
            type="button"
            color="primary"
            (click)="addStaticPage.emit()">
      {{ 'general.applications.static.addStaticPage' | translate}}
    </button>
  </div>

  <div fxFlex.gt-sm="80">
    <static-page-form *ngIf="selectedStaticPage"
                      [categories]="categories$ | async"
                      [form]="selectedStaticPage"
                      (removeStaticPage)="removeStaticPage.emit($event)"
                      (setSelectedStaticPage)="setSelectedStaticPage.emit($event)">
    </static-page-form>
  </div>
</div>
