<div fxLayout.gt-sm="row"
     fxLayout="column"
     fxLayoutGap="10px">

  <time-line-list fxFlex="100"
                  [articles]="articles"
                  *ngIf="selectedTimeLineEvent === -1"
                  [form]="form"
                  [showLinks]="showLinks"
                  (add)="add.emit()"
                  (delete)="delete.emit($event)"
                  (edit)="edit.emit($event)">
  </time-line-list>

  <time-line-form fxFlex="100"
                  [articles]="articles"
                  *ngIf="selectedTimeLineEvent !== -1"
                  [selectedTimeLineEvent]="selectedTimeLineEvent"
                  (save)="save.emit()"
                  (delete)="delete.emit($event)"
                  [form]="form">
  </time-line-form>
</div>

<ng-template #noEventsTemplate>
  <p style="color: red">{{ 'general.timeLine.noEvents' | translate}}</p>
</ng-template>
