<div *ngIf="articles$ | async as articles; else loadingTemplate">

  <div fxLayout="row"
       fxLayout.gt-sm="row"
       fxLayoutGap="10px"
       [formGroup]="form"
       *ngIf="selectedHonorary === -1">

    <h3>{{'general.clubs.edit.honoraries.title' | translate}}</h3>
    <span fxFlex></span>
    <div>
      <button mat-raised-button
              style="margin-bottom: 25px"
              type="button"
              color="primary"
              (click)="add.emit()">
        {{'general.clubs.edit.honoraries.addHonorary' | translate}}
      </button>
    </div>
  </div>

  <div *ngIf="selectedHonorary === -1">
    <club-honorary-list (delete)="delete.emit($event)"
                        (edit)="edit.emit($event)"
                        [form]="form"
                        [articles]="articles"
                        [members]="members">
    </club-honorary-list>
  </div>

  <div *ngIf="selectedHonorary !== -1">
    <club-honorary-form [form]="form"
                        [members]="members"
                        [articles]="articles"
                        [selectedHonorary]="selectedHonorary"
                        (delete)="delete.emit($event)"
                        (save)="save.emit()">
    </club-honorary-form>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>





