<div fxLayout.gt-sm="row"
     fxLayout="column"
     fxLayoutAlign="start start"
     fxLayoutGap="10px"
     *ngIf="team && members && categories; else loadingTemplate">

  <div fxFlex.gt-sm="50">
    <h3>{{'general.teams.edit.position.players' | translate}}</h3>
    <p *ngIf="!team.assignedPlayers">{{'general.teams.edit.players.noPlayers' | translate}}</p>

    <mat-list dense>
      <mat-list-item *ngFor="let memberId of team.assignedPlayers">
        <a [routerLink]="['/members/detail', memberId]"
           *ngFor="let member of members | filterBy: ['id'] : memberId">
          {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date: 'dd.MM.yy'}}
        </a>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlex.gt-sm="50">
    <h3>{{'general.teams.edit.management.title' | translate}}</h3>

    <p *ngIf="!team.assignedPositions || !team.assignedPositions.length">
      {{'general.teams.edit.position.noPosition' |
      translate}}</p>

    <div *ngFor="let position of team.assignedPositions | orderBy: 'type'" style="margin-bottom: 25px;">

      <!--<h4 *ngIf="!isSavedPosition(position.type)">
        {{ (categories | filterBy: ['id'] : position.type)[0].title}}
      </h4>-->

      <mat-list dense>
        <mat-list-item *ngFor="let member of members | filterBy: ['id'] : position.assignedMember">
          <a [routerLink]="['/members/detail', member.id]">
            {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date: 'dd.MM.yy'}}
            ({{position.position}})
          </a>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
