<div fxLayout="direction"
     fxLayoutAlign="center center">

  <div fxFlex.gt-sm="80"
       fxFlex="100"
       class="container"
       infiniteScroll
       [scrollWindow]="false"
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="1000"
       (scrolled)="onScroll()">
    <mat-list>
      <mat-list-item *ngFor="let article of paginationService.data | async">
        <span matLine>
          <h1>{{article.title}}</h1>
        </span>
        <p matLine [innerHTML]="article.text"></p>
        <div matLine
             style="margin-top: 10px;">
          <button mat-raised-button
                  color="warn"
                  type="button">{{article.publication.status}}
          </button>
          {{'general.from' | translate}} author — {{'general.articles.list.lastEdited'}} timeAgo
        </div>
        <hr style="margin: 25px 0"
            matLine/>
        <div style="height: 100px;"
             matLine></div>
      </mat-list-item>
    </mat-list>

    <p *ngIf="paginationService.loading | async"
       style="text-align: center">{{'general.articles.list.loading' | translate}}</p>

    <!--<p *ngIf="articles.length === 0"-->
       <!--style="text-align: center">{{'general.articles.list.noResult' | translate}}</p>-->
  </div>
</div>
<ng-template *ngIf="!finished" #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
