<div fxLayout="direction"
     fxLayoutAlign="center center">

  <div fxFlex.gt-sm="80"
       fxFlex="100"
       class="container"
       infiniteScroll
       [scrollWindow]="false"
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="1000"
       (scrolled)="onScroll()">
    <mat-list *ngIf="paginationService.data | async as articles; else loadingTemplate">
      <mat-list-item *ngFor="let article of articles | articleFilter: filters">
        <h1 matLine>{{article.title}}</h1>
        <p matLine [innerHTML]="article.excerpt ? article.excerpt : article.text"></p>
        <div matLine>
          <button mat-raised-button
                  color="warn"
                  type="button">{{article.publication.status}}
          </button>
          {{'general.from' | translate}}
          <user-avatar [userId]="article.creation.by"
                       [users]="users">
        </user-avatar>
          — {{article.creation.at.seconds *1000 | timeago:live}}
        </div>
        <hr style="margin: 25px 0" matLine/>
      </mat-list-item>
    </mat-list>

    <p *ngIf="paginationService.loading | async"
       style="text-align: center">{{'general.articles.list.loading' | translate}}
    </p>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
