<mat-card [formGroup]="form">
  <mat-card-title>
    <mat-icon>mode_edit</mat-icon>
    {{ 'general.menu.team.edit' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content
    *ngIf="team && clubs$ && categories$ && categoryTypes$ && locations$ && users$ && members$; else loadingTemplate">

    <mat-tab-group [dynamicHeight]="true">
      <mat-tab label="{{'general.teams.edit.mainTitle' | translate}}">
        <team-edit-main [form]="form"
                        [team]="team"
                        [categories]="categories$ | async"
                        [categoryTypes]="categoryTypes$ | async"
                        [clubs]="clubs$ | async"
                        [seasons]="seasons$ | async">
        </team-edit-main>
      </mat-tab>

      <mat-tab label="{{'general.teams.edit.management.title' | translate}}">
        <team-positions [form]="form"
                        [categories]="categories$ | async"
                        [categoryTypes]="categoryTypes$ | async | filterBy: ['link']: 'team.position.types'"
                        [members]="members$ | async"
                        (addPosition)="addPosition()"
                        (removePosition)="removePosition($event)">
        </team-positions>
      </mat-tab>

      <mat-tab label="{{'general.teams.edit.training.title' | translate}}">
        <team-training [form]="form"
                       [locations]="locations$ | async"
                       (addTraining)="addTraining()"
                       (removeTraining)="removeTraining($event)">
        </team-training>
      </mat-tab>

      <mat-tab label="{{'general.teams.edit.timeLine.title' | translate}}">
        <h3>{{'general.teams.edit.timeLineTitle' | translate}}</h3>
        <time-line [showLinks]="true"
                   (delete)="removeEvent($event)"
                   (add)="addEvent()"
                   (edit)="editEvent($event)"
                   (save)="saveEvent()"
                   [selectedTimeLineEvent]="selectedEvent"
                   [form]="form.controls['assignedEvents']">
        </time-line>
      </mat-tab>

      <mat-tab label="Dateien">
        Trainingspläne, Videos, Fotos zur Mannschaft
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span>
      <button mat-raised-button
              type="button"
              color="primary"
              [routerLink]="['/teams']">
        {{'general.menu.team.list' | translate}}
      </button>
      <button mat-raised-button
              *ngIf="team.id"
              type="button"
              color="accent"
              [routerLink]="['/teams/detail', team.id]">
        {{'general.detail' | translate }}
      </button>
      <button mat-raised-button
              type="button"
              color="warn"
              (click)="removeTeam(team)">
        {{'general.delete' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
