<div fxLayout.gt-sm="row"
     fxLayout="column"
     *ngIf="seasons$ | async as seasons; else loadingTemplate">

  <div fxFlex="33,3333">
    <mat-card>
      <mat-card-title>
        {{'general.members.edit.assignedAsPlayer' | translate}}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <hr/>
      <mat-card-content>

        <div class="alert alert-info" *ngIf="(teams | isTeamMemberFilter : member : 'assignedPlayers').length === 0">
          <p>{{'general.members.edit.notAssignedToAnyTeams' | translate}}</p>
        </div>

        <div *ngIf="(teams | isTeamMemberFilter : member : 'assignedPlayers').length !== 0">
          <div
            *ngFor="let season of seasons | seasonsWithTeamsFilter: (teams | isTeamMemberFilter : member : 'assignedPlayers')">
            <h3>{{season.title}}</h3>

            <div class="alert alert-info" *ngIf="(teams | isTeamMemberFilter : member : 'assignedPlayers'| filterBy: ['assignedSeason'] : season.id).length === 0">
              <p>{{'general.members.edit.notAssignedToAnyTeamsInSeason' | translate}}</p>
            </div>

            <mat-list dense *ngIf="(teams | isTeamMemberFilter : member : 'assignedPlayers'
                    | orderBy: ['subTitle', 'title'] | filterBy: ['assignedSeason'] : season.id).length > 0">

              <mat-list-item *ngFor="let team of teams | isTeamMemberFilter : member : 'assignedPlayers'
                                | orderBy: ['subTitle', 'title'] | filterBy: ['assignedSeason'] : season.id">
                <a [routerLink]="['/teams/detail', team.id]">{{team.title}} {{team.subTitle}}</a>
                <span fxFlex></span>
                <button mat-icon-button
                        (click)="deleteMemberFromTeam({team: team, member: member})">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>

            </mat-list>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="33,3333">
    <mat-card>
      <mat-card-title>
        {{'general.members.detail.functions.inTeamManagement' | translate}}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <hr/>
      <mat-card-content>

        <div class="alert alert-info" *ngIf="(teams | isTeamManagementFilter : member).length === 0">
          <p>{{'general.members.edit.notAssignedToAnyTeamManagements' | translate}}</p>
        </div>

        <div *ngIf="(teams | isTeamManagementFilter : member).length !== 0">
          <div *ngFor="let season of seasons | seasonsWithTeamsFilter: (teams | isTeamManagementFilter : member)">
            <h3>{{season.title}}</h3>

            <div class="alert alert-info" *ngIf="(teams | isTeamManagementFilter : member | filterBy: ['assignedSeason'] : season.id).length === 0">
              <p>{{'general.members.edit.notAssignedToAnyTeamManagementsInSeason' | translate}}</p>
            </div>

            <mat-list dense
                      *ngIf="(teams | isTeamManagementFilter : member | orderBy: ['subTitle', 'title'] | filterBy: ['assignedSeason'] : season.id).length > 0">
              <mat-list-item
                *ngFor="let team of teams | isTeamManagementFilter : member | orderBy: ['subTitle', 'title'] | filterBy: ['assignedSeason'] : season.id">
                <a [routerLink]="['/teams/detail', team.id]">{{team.title}} {{team.subTitle}}</a>
                <span fxFlex></span>
                <span
                  *ngFor="let position of team.assignedPositions | filterBy: ['assignedMember'] : member.id; let last = last">{{position.position}}
                                <span *ngIf="!last">, </span>
                            </span>
                <span fxFlex></span>
                <button mat-icon-button
                        (click)="deleteMemberFromTeamManagement({team: team, member: member})">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="33,3333">
    <mat-card>
      <mat-card-title>
        {{'general.members.detail.functions.inClubManagement' | translate}}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <hr/>
      <mat-card-content *ngIf="categories$ | async as categories; else loadingTemplate">

        <div class="alert alert-info" *ngIf="(clubs | isMemberInClubManagementFilter: member).length === 0">
          <p>{{'general.members.detail.functions.noClubManagementPositions' | translate}}</p>
        </div>

        <ul *ngIf="club.positions | filterBy: ['assignedMember'] : member.id">
          <li *ngFor="let club of clubs | isMemberInClubManagementFilter: member">
            {{club.title}}
            <ul>
              <li *ngFor="let position of club.positions | filterBy: ['assignedMember'] : member.id">
                <span *ngIf="categories | filterBy: ['id'] :position.assignedPosition">
                  {{(categories | filterBy: ['id'] :position.assignedPosition)[0].title}}
                </span>
                (<span *ngIf="!position.endDate">seit dem </span>{{position.startDate.seconds *1000 | date: 'dd.MM.yy' }}
                <span *ngIf="position.endDate">&ndash; {{position.endDate.seconds *1000 | date: 'dd.MM.yy' }}</span>)
              </li>
            </ul>
          </li>
        </ul>

      </mat-card-content>
    </mat-card>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
