<mat-card>
  <mat-card-header>
    <mat-card-title><a [routerLink]="['/articles/edit', article.id]">{{article.title}}</a></mat-card-title>
    <mat-card-subtitle>{{article.subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [innerHTML]="article.excerpt ? article.excerpt : article.text">
  </mat-card-content>
  <mat-card-actions fxLayout="column"
                    fxLayout.gt-sm="row"
                    fxLayoutGap="10px">
    <span>{{'general.articles.detail.writtenAt' | translate}}
      <span style="font-weight: bold">{{article.articleDate.toDate() | date: 'dd.MM.yy'}}</span>
    </span>
    <span fxFlex></span>
    <button mat-raised-button
            color="primary"
            [routerLink]="['/articles/detail', article.id]">
      {{'general.detail' | translate }}
    </button>
    <button mat-raised-button
            color="accent"
            [routerLink]="['/articles/edit', article.id]">
      {{'general.edit' | translate }}
    </button>
    <button mat-raised-button
            *ngIf="showDeleteButton"
            color="warn"
            (click)="deleteArticleToMatchAssignment.emit(article)">
      {{'general.articles.edit.deleteAssignment' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
