<mat-card *ngIf="match && !selectedEvent">
  <mat-card-title>
    {{ 'general.matches.edit.events.title' | translate }}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <p *ngIf="!match.assignedEvents">
      {{ 'general.matches.edit.events.noEventsFound' | translate }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span>
      <button mat-raised-button
              color="primary"
              (click)="addEvent()">
        {{ 'general.matches.edit.events.createEvent' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<pre *ngIf="categories$ | async as categories; else loadingTemplate">
  {{categories$ | async | json}}
</pre>

<!--
<div *ngIf="selectedEvent">
  <match-edit-event-form *ngIf="assignedEventCategories$ | async as assignedEventCategories; else loadingTemplate"
                         (cancel)="cancel()"
                         (save)="saveEvent()"
                         [assignedEventCategories]="assignedEventCategories"
                         [playMinutes]="playMinutes"
                         [form]="selectedEvent">
  </match-edit-event-form>
</div>-->

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
