<mat-card>
  <mat-card-title>
    {{ 'general.matches.edit.events.title' | translate }}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <p *ngIf="matchEvents.length == 0">
      {{ 'general.matches.edit.events.noEventsFound' | translate }}
    </p>

    <div class="activity-stream">
      <mat-card class="shadow-none"
                *ngFor="let event of orderedMatchEvents; let i = index; let first = first; let last = last">
        <mat-card-header>
          <img matCardAvatar
               src="/assets/sfw/sfw.png">
          <mat-card-title *ngIf="event.title || event.playMinute">
            <span style="font-weight: bolder" *ngIf="event.playMinute">{{event.playMinute}}.</span>
            {{event.title}}
            {{event.ordering}}
          </mat-card-title>
          <mat-card-subtitle *ngIf="event.assignedCategory">
            {{ 'general.matches.events.' + event.assignedCategory.title | translate }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content [innerHTML]="event.description"></mat-card-content>
        <mat-card-actions fxLayout="column"
                          fxLayout.gt-sm="row"
                          fxLayoutGap="10px">
          <span></span>
          <span fxFlex=""></span>
          <button [disabled]="first"
                  (click)="changeOrder({ sourceIndex: i, destinationIndex: i-1 })"
                  mat-icon-button=""
                  color="warn">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button [disabled]="last"
                  (click)="changeOrder({ sourceIndex: i, destinationIndex: i+1 })"
                  mat-icon-button=""
                  color="primary">
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button (click)="deleteMatchEvent.emit(i)" mat-icon-button="" color="red">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

  </mat-card-content>
</mat-card>
