<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex="100">
    <mat-card class="mat-card-top">
      <mat-card-title>
        <mat-icon>details</mat-icon>
        {{'general.menu.category.detail' | translate}}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>

      <mat-card-content>

        <mat-card class="shadow-none"
                  *ngIf="categoryTypes$ | async as categoryTypes; else loadingTemplate">
          <mat-card-header>
            <mat-card-title>{{category.title}}</mat-card-title>
            <mat-card-subtitle> {{'general.categories.list.colTitles.title' | translate}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-header>
            <mat-card-title>
              <span *ngFor="let categoryType of categoryTypes | filterBy: ['id'] : category.assignedCategoryType">
                    {{ 'general.menu.' + categoryType.link + '.main' | translate}}
                </span>
            </mat-card-title>
            <mat-card-subtitle>{{'general.categories.list.colTitles.category' | translate}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-header>
            <mat-card-title>
              <span *ngIf="category.creation.from === 'system'" translate>
                  {{'general.tables.importedViaScript'}}
                </span>
              <creation-date [creation]="category.creation.at"></creation-date>
            </mat-card-title>
            <mat-card-subtitle>{{'general.tables.colTitles.creation' | translate}} </mat-card-subtitle>
          </mat-card-header>

          <mat-card-header>
            <mat-card-title [innerHtml]="category.description"></mat-card-title>
            <mat-card-subtitle>{{'general.tables.colTitles.description' | translate}}</mat-card-subtitle>
          </mat-card-header>

        </mat-card>
      </mat-card-content>

      <mat-card-actions>
        <div class="button-row">
          <a mat-raised-button color="primary" [routerLink]="['/categories']">
            {{'general.menu.category.list' | translate}}
          </a>
          <a mat-raised-button color="accent" [routerLink]="['/categories/edit', category.id]">
            {{'general.edit' | translate }}
          </a>
          <a mat-raised-button color="warn" (click)="removeCategory(category)">
            {{'general.delete' | translate }}
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
