<mat-card [formGroup]="form"
          *ngIf="sponsor; else loadingTemplate">
  <mat-card-title>
    <mat-icon>mode_edit</mat-icon>
    {{ sponsor.id ? ('general.menu.sponsor.edit' | translate) : ('general.menu.sponsor.create' | translate)}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content>

    <mat-tab-group *ngIf="categories$ | async as categories; else loadingTemplate"
                   [dynamicHeight]="true">
      <mat-tab label="{{'general.sponsors.edit.mainTitle' | translate}}">

        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="30px">

          <div fxFlex.gt-sm="60"
               fxFlex="100">

            <div fxLayout="column"
                 fxLayoutGap="15px">

              <mat-form-field fxFlex="100"
                              hintLabel="Max {{titleMaxLength}} characters">
                <input matInput maxlength="{{titleMaxLength}}"
                       placeholder="{{'general.sponsors.edit.title' | translate}}"
                       formControlName="title">
                <mat-hint align="end">{{form.get('title').value.length || 0}}/{{titleMaxLength}}</mat-hint>
              </mat-form-field>

              <mat-form-field fxFlex="100">
                <input matInput
                       placeholder="{{'general.sponsors.edit.link' | translate}}"
                       formControlName="externalLink">
              </mat-form-field>

              <div>
                <label>{{'general.sponsors.edit.description' | translate}}</label>
                <quill-editor [style]="{height: '250px'}"
                              formControlName="description"
                              placeholder="{{'general.sponsors.edit.description' | translate}}">
                </quill-editor>
              </div>
            </div>

          </div>

          <div fxFlex.gt-sm="40"
               fxFlex="100">
            <media-uploader (uploadCompleted)="uploadCompleted()"
                            [uploaderConfig]="uploaderConfig"
                            [uploaderOptions]="uploaderOptions">
            </media-uploader>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="{{'general.sponsors.edit.moreTitle' | translate}}">

        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="30px">

          <mat-form-field fxFlex.gt-sm="30"
                          fxFlex="100">
            <input matInput
                   formControlName="startDate"
                   [matDatepicker]="startPicker"
                   placeholder="{{'general.sponsors.edit.startDate' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false"
                            touchUi="true"
                            #startPicker>
            </mat-datepicker>
          </mat-form-field>


          <mat-form-field fxFlexOffset="1"
                          fxFlex.gt-sm="30"
                          fxFlex="100">
            <input matInput
                   formControlName="endDate"
                   [matDatepicker]="endPicker"
                   placeholder="{{'general.sponsors.edit.endDate' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false"
                            touchUi="true"
                            #endPicker>
            </mat-datepicker>
          </mat-form-field>


          <mat-form-field fxFlexOffset="1"
                          fxFlex.gt-sm="38"
                          fxFlex="100">
            <mat-select placeholder="{{'general.sponsors.edit.category' | translate}}"
                        formControlName="assignedCategories" multiple>
              <mat-option *ngFor="let category of categories | orderBy: ['title']"
                          [value]="category.id" size="3">
                {{category.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row"

             style="margin-top: 25px;">
          <div fxFlex="100">
            <label>{{'general.sponsors.edit.info' | translate}}</label>
            <quill-editor [style]="{height: '250px'}"
                          formControlName="internalInfo"
                          placeholder="{{'general.sponsors.edit.infoPlaceholder' | translate}}">
            </quill-editor>
            <mat-hint align="end">{{'general.sponsors.edit.infoPlaceholder' | translate}}</mat-hint>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>

</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
