<mat-card>
  <mat-card-title>
    <mat-icon>list</mat-icon>
    {{'general.menu.dashboard.main' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>

    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign="space-around stretch">

      <mat-card class="card-widget mat-teal" fxFlex="15">
        <div mat-card-widget>
          <div mat-card-float-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <div class="pl-0">
            <h2 mat-card-widget-title>{{angularVersion}}</h2>
            <p>Angular</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="card-widget mat-purple" fxFlex="15">
        <div mat-card-widget>
          <div mat-card-float-icon>
            <mat-icon>code</mat-icon>
          </div>
          <div class="pl-0">
            <h2 mat-card-widget-title>{{env.production ? 'Production' : 'Development'}}</h2>
            <p>Environment</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="card-widget mat-teal" fxFlex="15">
        <div mat-card-widget>
          <div mat-card-float-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <div class="pl-0">
            <h2 mat-card-widget-title>
              <a class="pull-right" href="https://travis-ci.org/Meistercoach83/sfw" target="_blank">
                <img src="https://travis-ci.org/Meistercoach83/sfw.svg?branch=master"/>
              </a>
            </h2>
            <p>{{'general.dashboard.buildStatus' | translate}}</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="card-widget mat-purple" fxFlex="15">
        <div mat-card-widget>
          <div mat-card-float-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <div class="pl-0">
            <h2 mat-card-widget-title>
              <a class="pull-right" href="https://david-dm.org/Meistercoach83/sfw" target="_blank">
                <img src="https://david-dm.org/Meistercoach83/sfw/status.svg"/>
              </a>
            </h2>
            <p>{{'general.dashboard.dependencyStatus' | translate}}</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="card-widget mat-teal" fxFlex="15">
        <div mat-card-widget>
          <div mat-card-float-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <div class="pl-0">
            <h2 mat-card-widget-title>
              <a class="pull-right" href="https://david-dm.org/Meistercoach83/sfw" target="_blank">
                <img src="https://david-dm.org/Meistercoach83/sfw/dev-status.svg"/>
              </a>
            </h2>
            <p>{{'general.dashboard.devDependencyStatus' | translate}}</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="card-widget mat-purple" fxFlex="15">
        <div mat-card-widget>
          <div mat-card-float-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <div class="pl-0">
            <h2 mat-card-widget-title>
              <a class="pull-right" href="https://badge.fury.io/gh/Meistercoach83%2F-sfw" target="_blank">
                <img src="https://badge.fury.io/gh/Meistercoach83%2Fsfw.svg"/>
              </a>
            </h2>
            <p>{{'general.dashboard.gitVersion' | translate}}</p>
          </div>
        </div>
      </mat-card>

    </div>

    <div fxLayout="column"
         fxLayoutAlign="space-around stretch"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="center start">

      <!--<mat-card class="profile-post" fxFlex>
        <form fxLayout="row"
              [formGroup]="mindForm">
           <textarea formControlName="comment"
                     placeholder="{{'general.dashboard.mindText' | translate}}"
                     rows="6">
           </textarea>
        </form>
        <hr>
        <mat-card-actions>
          <div fxLayout="row">
            <button mat-icon-button>
              <mat-icon>insert_photo</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>insert_link</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>location_on</mat-icon>
            </button>
            <span fxFlex></span>
            <button mat-raised-button color="primary">Post</button>
          </div>
        </mat-card-actions>
      </mat-card>-->

      <div fxFlex="40">
        <dashboard-article-list [articles$]="latestArticles$"></dashboard-article-list>
      </div>

      <mat-card fxFlex.gt-sm="15">
        <mat-card-title class="mat-red">
          <h2 mat-card-widget-title>{{'general.dashboard.birthdays' | translate}}</h2>
          <hr>
        </mat-card-title>
        <mat-card-content>
          <mat-list *ngIf="members$ | async as members; else loadingTemplate">
            <h3 mat-subheader>{{'general.dashboard.today' | translate}}, {{today.format('DD.MM.YY')}}</h3>
            <birthday-list [members]="members | birthdayFilter: today"></birthday-list>
            <mat-divider></mat-divider>

            <h3 mat-subheader>{{'general.dashboard.tomorrow' | translate}}, {{tomorrow.format('DD.MM.YY')}}</h3>
            <birthday-list [members]="members | birthdayFilter: tomorrow"></birthday-list>
            <mat-divider></mat-divider>

            <h3 mat-subheader>{{'general.dashboard.yesterday' | translate}}, {{yesterday.format('DD.MM.YY')}}</h3>
            <birthday-list [members]="members | birthdayFilter: yesterday"></birthday-list>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <div fxFlex="45">
        <mat-card>
          <mat-card-title class="mat-amber">
            <h2 mat-card-widget-title>{{'general.dashboard.matches' | translate}}</h2>
            <hr>
          </mat-card-title>
          <mat-card-content>
            <mat-tab-group *ngIf="categories$ | async as categories; else loadingTemplate"
                           [dynamicHeight]="true">

              <mat-tab *ngIf="nextMatches$ |async as nextMatches"
                       [label]="('general.dashboard.upComingMatches' | translate) + ' (' + nextMatches.length + ')'">
                <div style="max-height: 300px"
                     [perfectScrollbar]="config">
                  <match-list [categories]="categories"
                              [matches]="nextMatches | orderBy: ['matchStartDate.seconds']">
                  </match-list>
                </div>
              </mat-tab>

              <mat-tab *ngIf="pastMatches$ |async as pastMatches"
                       [label]="('general.dashboard.lastMatches' | translate) + ' (' + pastMatches.length + ')'">
                <div style="max-height: 300px"
                     [perfectScrollbar]="config">
                  <match-list [categories]="categories"
                              [matches]="pastMatches | orderBy: ['-matchEndDate.seconds'] ">
                  </match-list>
                </div>
              </mat-tab>

              <mat-tab *ngIf="matchesWithoutResult$ | async as matchesWithoutResult"
                       [label]="('general.dashboard.matchesWithoutResult' | translate) + ' (' + matchesWithoutResult.length + ')'">
                <div style="max-height: 300px"
                     [perfectScrollbar]="config">
                  <match-list [categories]="categories"
                              [showResultInputs]="true"
                              [matches]="matchesWithoutResult | orderBy: ['-matchEndDate.seconds']">
                  </match-list>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
