<mat-card [formGroup]="form">
  <mat-card-title>{{'general.members.edit.profile.title' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'general.members.edit.profile.text' | translate}}</mat-card-subtitle>
  <hr/>
  <mat-card-content>
    <div fxFlex="100"
         formArrayName="profile">

      <button mat-raised-button
              style="margin-bottom: 25px"
              type="button"
              color="primary"
              (click)="addProfileEntry()">
        {{'general.members.edit.profile.addEntry' | translate}}
      </button>

      <div fxLayout="row"

           *ngFor="let control of form.get('profile')['controls']; let i = index">

        <div fxFlex="100"
             [formGroupName]="i">

          <div fxLayout.gt-sm="row"
               fxLayout="column">

            <mat-form-field fxFlex.gt-sm="45"
                            fxFlex="100">
              <input matInput
                     placeholder="{{'general.members.edit.profile.entry' | translate}}"
                     formControlName="entry"/>
            </mat-form-field>

            <mat-form-field fxFlexOffset.gt-sm="2"
                            fxFlex.gt-sm="45"
                            fxFlex="100">
              <input matInput
                     placeholder="{{'general.members.edit.profile.value' | translate}}"
                     formControlName="value"/>
            </mat-form-field>

            <button fxFlexOffset.gt-sm="2"
                    fxFlex.gt-sm="6"
                    mat-icon-button
                    (click)="removeProfileEntry(i)"
                    color="warn">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        </div>

      </div>

    </div>
  </mat-card-content>
</mat-card>



