<mat-accordion dense>
  <mat-expansion-panel *ngFor="let control of form.controls; let i = index; let first = first; let last = last"
                       [expanded]="false"
                       [hideToggle]="true">
    <mat-expansion-panel-header>
      <mat-panel-title fxLayout.gt-sm="row"
                       fxLayout="column"
                       fxLayoutAlign="start center">
        <mat-icon *ngIf="control.get('icon').value">{{control.get('icon').value}}</mat-icon>
        <span>{{control.get('title').value}}</span>
        <span fxFlex></span>
        <span *ngIf="control.get('startDate').value">
          {{isFunction(control.get('startDate').value.toDate) ?
           (control.get('startDate').value.toDate() | date: 'dd.MM.yy')
          :(control.get('startDate').value | date: 'dd.MM.yy')}}
        </span>
        <span *ngIf="control.get('endDate').value">&ndash;
          {{isFunction(control.get('endDate').value.toDate) ?
           (control.get('endDate').value.toDate() | date: 'dd.MM.yy')
          :(control.get('endDate').value | date: 'dd.MM.yy')}}
        </span>
        <span fxFlex></span>
        <a (click)="edit.emit(i)" title="{{'general.edit' | translate}}" *ngIf="showLinks">
          <mat-icon color="accent">edit</mat-icon>
        </a>

        <a (click)="delete.emit(i)" title="{{'general.delete' | translate}}" *ngIf="showLinks">
          <mat-icon color="warn">delete</mat-icon>
        </a>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div *ngFor="let article of articles | filterBy: ['id']: control.get('assignedArticle').value">
        <h3>{{article.title}}</h3>
        <strong *ngIf="article.subTitle">{{article.subTitle}}</strong><br/>
        <p [innerHTML]="article.text"></p>
      </div>
      <p *ngIf="!control.get('assignedArticle').value">
        {{'general.timeLine.noAssignedArticle' | translate}}
      </p>
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>

<button style="margin-top: 25px"
        mat-raised-button
        color="primary"
        *ngIf="showLinks"
        (click)="add.emit()">
  {{ 'general.timeLine.addEvent' | translate}}
</button>

<p *ngIf="!form['controls'][0]">
  {{'general.timeLine.noEvents' | translate}}
</p>
