<mat-accordion dense *ngIf="events.length > 0">
  <mat-expansion-panel *ngFor="let event of events"
                       [expanded]="false"
                       [hideToggle]="true">
    <mat-expansion-panel-header>
      <mat-panel-title fxLayout.gt-sm="row"
                       fxLayout="column"
                       fxLayoutAlign="start center">
        <mat-icon *ngIf="event.icon">{{event.icon}}</mat-icon>
        <span>{{event.title}} <small>{{event.subTitle}}</small></span>
        <span fxFlex></span>
        <span *ngIf="event.startDate">{{getDate(event.startDate) | date: 'dd.MM.yy'}}</span>
        <span *ngIf="event.startDate && event.endDate">&ndash;</span>
        <span *ngIf="event.endDate">{{getDate(event.endDate) | date: 'dd.MM.yy'}}</span>
        <span fxFlex></span>
        <a (click)="edit.emit(event)" title="{{'general.edit' | translate}}" *ngIf="showLinks">
          <mat-icon color="accent">edit</mat-icon>
        </a>
        <a (click)="delete.emit(event)" title="{{'general.delete' | translate}}" *ngIf="showLinks">
          <mat-icon color="warn">delete</mat-icon>
        </a>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div *ngFor="let article of articles | filterBy: ['id']: event.assignedArticle">
        <h3>{{article.title}}</h3>
        <strong *ngIf="article.subTitle">{{article.subTitle}}</strong><br/>
        <p [innerHTML]="article.text"></p>
      </div>
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>

<div class="alert alert-info" *ngIf="!events || events.length === 0">
  <p>{{'general.timeLine.noEvents' | translate}}</p>
</div>
