<mat-card-subtitle>{{'general.matches.edit.squad' | translate}}</mat-card-subtitle>

<p *ngIf="!assignedTeamPlayers || assignedTeamPlayers.length === 0">
  {{'general.matches.edit.noAssignedPlayers' | translate}}
</p>


<cdk-drop orientation="horizontal"
          class="list"
          [connectedTo]="connectedToDropables"
          *ngIf="assignedTeamPlayers"
          #playerList
          [data]="assignedTeamPlayers"
          (dropped)="drop($event)">

  <match-player cdkDrag
                *ngFor="let member of assignedTeamPlayers| orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']"
                [member]="member">
  </match-player>

</cdk-drop>
