<mat-card>
  <mat-card-header>
    <mat-card-title>Stats</mat-card-title>
    <mat-card-subtitle>Stats 123</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p *ngIf="assignedPlayers.length === 0">
      {{'general.teams.edit.playerStats.noAssignedPlayers' | translate}}
    </p>

    <table class="table table-responsive table-bordered table-condensed">
      <thead>
      <tr>
        <th>Name</th>
        <th>Tore</th>
        <th>Vorlagen</th>
        <th>Gelbe Karten</th>
        <th>Gelb-rote Karten</th>
        <th>Rote Karten</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of assignedPlayers">
        <td>{{player.id}}</td>
      </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>
