<mat-card>
  <mat-card-header>
    <mat-card-title>{{'general.teams.edit.playerStats.title' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'general.teams.edit.playerStats.description' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p *ngIf="assignedPlayers.length === 0">
      {{'general.teams.edit.playerStats.noAssignedPlayers' | translate}}
    </p>

    <table class="table table-bordered table-condensed table-responsive">
      <thead>
      <tr>
        <th>{{'general.number' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.name' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.matches' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.minutesPlayed' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.substitutions' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.replacements' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.goals' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.assists' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.yellowCard' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.yellowRedCard' | translate}}</th>
        <th>{{'general.teams.edit.playerStats.redCard' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let player of assignedPlayers | orderBy: ['mainData.lastName', 'mainData.firstName', 'maindata.birthday']; let i= index">
        <td>{{i +1}}</td>
        <td>
          <a [routerLink]="['/members/detail', player.id]">{{player.mainData.lastName}} {{player.mainData.firstName}}</a>
        </td>
      </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>
