<div [formGroup]="form"
     fxLayout="column"
     *ngIf="users; else loadingTemplate"
     fxLayoutAlign="space-between stretch">

  <media-uploader (uploadCompleted)="uploadCompleted.emit($event)"
                  [uploaderConfig]="uploaderConfig"
                  [uploaderOptions]="uploaderOptions">
  </media-uploader>

  <mat-form-field input fxFlex="100">
      <textarea matInput
                formControlName="excerpt"
                placeholder="{{'general.articles.edit.sidebar.main.excerpt' | translate}}"></textarea>
  </mat-form-field>

  <div fxLayout.gt-sm="row"
       fxLayout="column"
       fxLayoutAlign="space-between stretch">

    <mat-form-field fxFlex="49"
                    hintLabel="Max 50 characters">
      <input matInput
             maxlength="50"
             formControlName="subTitle"
             placeholder="{{'general.articles.edit.sidebar.main.subTitle' | translate}}">
    </mat-form-field>

    <mat-form-field fxFlex="49">
      <input matInput
             formControlName="postURL"
             placeholder="{{'general.articles.edit.sidebar.main.postUrl' | translate}}">
      <mat-hint align="end">
        <a *ngIf="form.get('postURL').value"
           target="_blank"
           [href]="host +'/'+ form.get('postURL').value">{{host +'/'+ form.get('postURL').value}}</a>
      </mat-hint>
    </mat-form-field>
  </div>

  <div fxLayout.gt-sm="row"
       style="margin-top: 15px"
       fxLayout="column"
       fxLayoutAlign="space-between stretch">

    <mat-form-field fxFlex="49">
      <input matInput
             placeholder="{{'general.articles.edit.sidebar.main.articleDate' | translate}}"
             formControlName="articleDate"
             [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </mat-form-field>

    <mat-form-field fxFlex="49"
                    formGroupName="creation">
      <mat-select placeholder="{{'general.articles.edit.sidebar.main.author' | translate}}"
                  formControlName="by">
        <mat-option *ngFor="let user of users | orderBy: ['firstName', 'lastName']"
                    [value]="user.id">
          {{user.firstName}} {{user.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <tag-input fxFlex="100"
             formControlName="assignedTags"
             [editable]="true">
  </tag-input>

  <mat-checkbox style="margin-top: 25px"
                formControlName="isFeaturedPost">
    {{'general.articles.edit.sidebar.main.isFeaturedPost' | translate}}
  </mat-checkbox>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
