<div [formGroup]="form"
     fxLayout="column">

  <mat-form-field fxFlex.gt-sm="49">
    <mat-select placeholder="{{'general.articles.edit.assignedLocation' | translate}}"
                formControlName="assignedLocation">
      <!--<mat-option *ngFor="let location of locations | orderBy: ['title']"
        [value]="location.id">
        {{location.title}}
      </mat-option>-->
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex.gt-sm="49">
    <mat-select placeholder="{{'general.articles.edit.assignedTeams' | translate}}"
                formControlName="assignedTeams"
                multiple>
      <!--<mat-optgroup *ngFor="let season of seasons | orderBy: ['-title']"
                    [label]="season.title">
        <mat-option
          *ngFor="let team of teams | filterBy: ['assignedSeason'] : season.id | orderBy: ['title', 'subTitle']"
          [value]="team.id">
          {{team.title}} {{team.subTitle}}
        </mat-option>
      </mat-optgroup>-->
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex.gt-sm="49">
    <mat-select placeholder="{{'general.articles.edit.assignedArticleCategories' | translate}}"
                formControlName="assignedCategories" multiple>
      <!--<mat-optgroup *ngFor="let categoryType of categoryTypes"
                    [label]="'general.menu.' + categoryType.link + '.main' | translate">
        <mat-option
          *ngFor="let category of categories | filterBy: ['assignedCategoryType'] : categoryType.id | orderBy: ['title']"
          [value]="category.id">
          {{category.title}}
        </mat-option>
      </mat-optgroup>-->
    </mat-select>
  </mat-form-field>

  <mat-checkbox fxFlex="49" style="margin-top: 25px;"
                formControlName="isMatch">
    {{'general.articles.edit.isArticleAMatch' | translate}}
  </mat-checkbox>

  <mat-form-field *ngIf="form.get('isMatch').value"
                  fxFlex="49">
    <mat-select placeholder="{{'general.articles.edit.assignedMatch' | translate}}"
                formControlName="assignedMatch">
      <!--<mat-option *ngFor="let match of matches | orderBy: ['startDate', 'title']"
                  [value]="match.id">
        {{match.startDate | date: 'd.M.Y'}}: {{match.title}}
      </mat-option>-->
    </mat-select>
  </mat-form-field>

</div>
