<mat-card>
  <mat-card-title>
    <mat-icon>list</mat-icon>
    {{'general.menu.location.main' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <location-list *ngIf="categories$ | async as categories; else loadingTemplate"
                   [locations]="locations$ | async"
                   [categories]="categories">
    </location-list>
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
