<mat-card>
  <mat-card-title>
    <mat-icon>list</mat-icon>
    {{'general.menu.location.main' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <!--<location-list [locations]="locations$ | async"
                   *ngIf="categoryService.getCategoriesByCategoryType('location.types') | async as categories; else loadingTemplate"
                   [categories]="categories">
    </location-list>-->
    <pre>{{categoryService.getCategoriesByCategoryType('location.types') | async | json}}</pre>
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
