<mat-card>
  <mat-card-title>
    <mat-icon>event</mat-icon>
    {{'general.menu.event.main' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="calendarOptions; else loadingTemplate">
      <ng-fullcalendar #ucCalendar
                       [options]="calendarOptions"
                       (eventClick)="eventClick($event.detail)"
                       (eventDrop)="updateEvent($event.detail)"
                       (eventResize)="updateEvent($event.detail)"
                       (clickButton)="clickButton($event.detail)">
      </ng-fullcalendar>
    </div>
    <!--<app-fullcalendar *ngIf="data$ | async as data; else loadingTemplate"
                      [events]="data">
    </app-fullcalendar>-->
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
