<mat-card>
  <mat-card-title>
    <mat-icon>file_upload</mat-icon>
    {{ 'general.media.list.title' | translate }}
  </mat-card-title>
  <mat-card-subtitle>{{ 'general.media.list.subTitle' | translate }}</mat-card-subtitle>

  <mat-card-content>

    <mat-tab-group>
      <mat-tab label="{{ 'general.media.list.listTitle' | translate }}">
        <div *ngIf="mediaItems; else loadingTemplate">
          <div class="alert alert-info" *ngIf="mediaItems.length === 0">
            {{ 'general.media.noItemsFound' | translate }}
          </div>
          <media-items-list [mediaItems]="mediaItems"></media-items-list>
        </div>
      </mat-tab>
      <mat-tab label="{{'general.uploader.uploadMultiple' | translate}}">
        <media-uploader  [uploaderConfig]="uploaderConfig"
                        [uploaderOptions]="uploaderOptions">
        </media-uploader>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
