<mat-sidenav #unsplashSidebar
             position="end"
             class="chat-panel"
             mode="over"
             fxFlex="60"
             opened="false">
  <div fxLayout="row"
       fxLayoutWrap="wrap">

    <div fxFlex="100">
      <mat-card>
        <mat-card-title>
          <button type="button"
                  mat-raised-button
                  color="warn"
                  (click)="unsplashSidebar.toggle()">Schließen
          </button>
        </mat-card-title>
        <mat-card-content>
          <ul>
            <li>Lade und Speichern von Fotos von unsplash.com</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-sidenav>

<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex="100">

    <mat-card>
      <mat-card-title>
        <mat-icon>file_upload</mat-icon>
        {{ 'general.media.centerTitle' | translate }}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>

      <mat-card-content>

        <mat-tab-group *ngIf="mediaItems$ | async as mediaItems; else loadingTemplate"
                       [dynamicHeight]="true">
          <mat-tab label="{{'general.media.list.title' | translate}} {{'(' + mediaItems.length + ')' }}">


            <div class="container" [class.is-mobile]="mobileQuery.matches">
              <mat-toolbar color="primary" class="toolbar">
                <button mat-raised-button
                        (click)="mediaGallerySidebar.toggle()">
                  <mat-icon>folder_special</mat-icon>
                  {{'general.media.gallery.list' | translate }}
                </button>
              </mat-toolbar>

              <mat-sidenav-container class="sidenav-container"
                                     [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
                <mat-sidenav #mediaGallerySidebar
                             [mode]="mobileQuery.matches ? 'over' : 'side'"
                             [fixedInViewport]="mobileQuery.matches"
                             fixedTopGap="56">
                  <!-- class="sidenav"
                                   fxLayout="column" -->
                  <media-galleries (closeGallerySidebar)="mediaGallerySidebar.toggle()"></media-galleries>
                </mat-sidenav>

                <mat-sidenav-content>
                  <media-gallery [mediaItems]="mediaItems"
                                 (removeMediaItem)="removeMediaItem($event)">
                  </media-gallery>
                </mat-sidenav-content>
              </mat-sidenav-container>
            </div>

          </mat-tab>
          <mat-tab label="{{'general.media.uploader.title' | translate}}">
            <media-uploader (unsplashSidebar)="unsplashSidebar.toggle()"
                            (uploadCompleted)="uploadCompleted.emit($event)"
                            [uploaderConfig]="uploaderConfig"
                            [uploaderOptions]="uploaderOptions">
            </media-uploader>

            <ul>
              <li>
                Upload
                <ul>
                  <li>Wenn bereits ein Bild vorhanden ist (bei einem Single-Upload), soll das alte Bild
                    gelöscht werden
                  </li>
                  <li>Wenn ein Objekt, für das ich gerade eine Datei hochlade, noch nicht vorhanden ist,
                    soll die Datei beim Speichern des Hauptobjektes trotzdem verknüpft werden
                  </li>
                  <li>Upload von Bildern von unsplash.com</li>
                </ul>
              </li>
            </ul>
          </mat-tab>
        </mat-tab-group>


      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
