<mat-card *ngIf="teamOfTheMonth; else loadingTemplate">
  <mat-card-header>
    <div mat-card-avatar
         style="background-size: cover;"
         [ngStyle]="{ 'background-image': 'url(' + teamOfTheMonth.logoURL + ')'}">
    </div>
    <mat-card-title>{{teamOfTheMonth.title}} ({{teamOfTheMonth.subTitle}})</mat-card-title>
    <mat-card-subtitle>{{'general.teams.fame.title' | translate}} {{title}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="column"
         fxLayoutGap="10px"
         fxLayout.gt-sm="row">

      <div fxFlex="15">
        <mat-card>
          <mat-card-title>{{'general.teams.fame.mainTitle' | translate}}</mat-card-title>
          <mat-card-content>
            <mat-list>

              <mat-list-item *ngIf="assignedSeason$ | async as season">
                {{'general.teams.fame.season' | translate}}:&nbsp;{{season.title}}
              </mat-list-item>

              <mat-list-item *ngIf="assignedCategories$ | async as assignedCategories">
                {{'general.teams.fame.categories' | translate}}:&nbsp;
                <span *ngFor="let category of assignedCategories; let last = last">
                <a [routerLink]="['/categories/detail',category.id ]">{{category.title}}</a>
                <span *ngIf="!last">,&nbsp;</span>
              </span>
              </mat-list-item>

            </mat-list>

          </mat-card-content>
          <hr>
          <mat-card-content>
            <div fxLayout="row" class="text-xs-center">
              <div fxFlex="33" style="color: green">
                <h1 class="ma-0"><b>23,8K</b></h1>
                <small>{{'general.teams.fame.wins' | translate}}</small>
              </div>
              <div fxFlex="33" style="color: red">
                <h1 class="ma-0"><b>569</b></h1>
                <small>{{'general.teams.fame.loss' | translate}}</small>
              </div>
              <div fxFlex="33">
                <h1 class="ma-0"><b>67</b></h1>
                <small>{{'general.teams.fame.draws' | translate}}</small>
              </div>
            </div>
          </mat-card-content>
          <hr>
          <mat-card-content *ngIf="teamOfTheMonth.info">
            <h4 class="mt-0">{{'general.teams.fame.info' | translate}}</h4>
            <p [innerHTML]="teamOfTheMonth.info"></p>
          </mat-card-content>
          <mat-card-actions>
            <div style="margin-top: 25px"
                 fxLayout.gt-sm="row"
                 fxLayout="column">
              <span></span>
              <span fxFlex></span>
              <button type="button"
                      mat-raised-button
                      color="primary"
                      [routerLink]="['/teams/detail', teamOfTheMonth.id]">
                {{'general.teams.fame.viewProfile' | translate}}
              </button>
              <button type="button"
                      mat-raised-button
                      color="accent"
                      [routerLink]="['/teams/edit', teamOfTheMonth.id]">
                {{'general.edit' | translate }}
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card *ngIf="assignedPositions$ | async as assignedPositions;">
          <mat-card-title>{{'general.teams.fame.positionsTitle' | translate}}</mat-card-title>
          <mat-card-content>
            <p *ngIf="!teamOfTheMonth.assignedPositions || !teamOfTheMonth.assignedPositions.length">
              {{'general.teams.edit.position.noPosition' | translate}}
            </p>
            <div *ngFor="let position of teamOfTheMonth.assignedPositions">
              <h3>{{position.position}}</h3>
              <mat-list>
                <mat-list-item
                  *ngFor="let member of assignedPositions |filterBy: ['id'] : position.assignedMember | orderBy: 'type'">
                  <h3 matLine>{{member.type}}</h3>
                  <a matLine [routerLink]="['/members/detail', member.id]">
                    {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date:
                    'dd.MM.yy'}}
                  </a>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="35">
        <mat-card>
          <mat-card-title>{{'general.teams.detail.standingsTitle' | translate}}</mat-card-title>
          <mat-card-content>
            <p *ngIf="!teamOfTheMonth.currentStandings">{{'general.teams.fame.noStandings' | translate}}</p>

            <table class="table table-condensed" *ngIf="teamOfTheMonth.currentStandings">
              <thead>
              <tr>
                <td>{{'general.teams.detail.standings.rank' | translate}}</td>
                <td>{{'general.teams.detail.standings.team' | translate}}</td>
                <td>{{'general.teams.detail.standings.matches' | translate}}</td>
                <td>{{'general.teams.detail.standings.won' | translate}}</td>
                <td>{{'general.teams.detail.standings.draw' | translate}}</td>
                <td>{{'general.teams.detail.standings.lost' | translate}}</td>
                <td>{{'general.teams.detail.standings.goalRel' | translate}}</td>
                <td>{{'general.teams.detail.standings.goalDiff' | translate}}</td>
                <td>{{'general.teams.detail.standings.points' | translate}}</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let standing of teamOfTheMonth.currentStandings">
                <td>{{standing.Rank}}</td>
                <td>{{standing.Team}}</td>
                <td>{{standing.Matches}}</td>
                <td>{{standing.Won}}</td>
                <td>{{standing.Draw}}</td>
                <td>{{standing.Lost}}</td>
                <td>{{standing.GoalRel}}</td>
                <td>{{standing.GoalDiff}}</td>
                <td>{{standing.Points}}</td>
              </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="50">
        <mat-card>
          <mat-card-title>{{'general.teams.fame.teamImage' | translate}}</mat-card-title>
          <img *ngIf="teamImage | async as image; else loadingTemplate"
               mat-card-image
               [src]="image.downloadURL">
          <mat-card-content [innerHTML]="teamOfTheMonth.photoDescription"></mat-card-content>
        </mat-card>

        <mat-card *ngIf="assignedPlayers$ | async as assignedPlayers">
          <mat-card-title>{{'general.teams.fame.playerList' | translate}} ({{assignedPlayers.length}})</mat-card-title>
          <mat-card-content>
            <div fxLayout="column"
                 fxLayout.gt-sm="row wrap"
                 fxLayoutGap="10px">
              <match-player *ngFor="let member of assignedPlayers"
                            fxFlex="13%"
                            [member]="member">
              </match-player>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </mat-card-content>
</mat-card>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
