<mat-card>
  <mat-card-title>{{'general.matches.edit.articles' | translate}}</mat-card-title>
  <mat-card-content>

    <article-card *ngFor="let article of articles | orderBy: ['articleDate']"
                  (deleteArticleToMatchAssignment)="deleteArticleToMatchAssignment($event)"
                  [showDeleteButton]="true"
                  [article]="article">
    </article-card>

    <p *ngIf="articles.length === 0">
      {{'general.matches.edit.noAssignedArticles' | translate}}
    </p>

  </mat-card-content>
</mat-card>
