<div fxLayout.gt-sm="row"
     fxLayout="column"
     fxLayoutGap="10px"
     *ngIf="assignedLocations; else loadingTemplate">

  <div class="alert alert-info" *ngIf="!team.assignedTrainings || !team.assignedTrainings.length">
    <p>{{'general.teams.edit.training.noTraining' | translate}}</p>
  </div>

  <mat-card *ngFor="let training of team.assignedTrainings">
    <mat-card-title>{{'general.datetime.weekdays.' + training.day | translate }},
      {{training.startTime}} {{'general.oClock' | translate}}
      &ndash; {{training.endTime}} {{'general.oClock' | translate}}
    </mat-card-title>
    <mat-card-content>
      <span matLine>{{'general.teams.edit.training.place' | translate}}:
        <a [routerLink]="['/locations/detail', training.assignedLocation]">
          {{(assignedLocations | filterBy: ['id'] : training.assignedLocation)[0].title}}
        </a>
      </span>
      <br/>
      <p matLine [innerHTML]="training.comment"></p>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
