<mat-card [formGroup]="form"
          *ngIf="categories">
  <mat-card-title>{{'general.teams.edit.position.managements' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'general.teams.edit.position.description' | translate}}</mat-card-subtitle>
  <hr/>
  <mat-card-content formArrayName="assignedPositions">

    <p *ngIf="!members.length">{{'general.teams.edit.position.noMembersFound' | translate}}</p>

    <p
      *ngIf="members.length && (!team.assignedPositions || team.assignedPositions.length === 0)">
      {{'general.teams.edit.position.noPosition' | translate}}
    </p>

    <p *ngIf="members.length && categories.length === 0">
      {{'general.teams.edit.position.noPositionsDefined' | translate}}
    </p>

    <div *ngFor="let position of form.get('assignedPositions')['controls']; let i=index">
      <div [formGroupName]="i"
           fxFlex="100">
        <team-position-form (removePosition)="removePosition(i)"
                            [categories]="categories"
                            [members]="members"
                            [i]="i"
                            [form]="form.get('assignedPositions')['controls'][i]">
        </team-position-form>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px"
         *ngIf="members.length">
      <span></span>
      <span fxFlex=""></span>
      <button mat-raised-button
              type="button"
              color="primary"
              (click)="addPosition()">
        {{ 'general.teams.edit.position.add' | translate}}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
