<mat-card *ngIf="mediaItem"
          style="height: 100%"
          [style.background]="mediaGallery && mediaGallery.coverImage === mediaItem.id ? 'rgba(51, 170, 51, .4)' : ''"
          [ngClass]="{'selected': selected}">


  <mat-card-title><span>{{mediaItem.file.name}}</span></mat-card-title>

  <mat-card-content class="text-center">

    <div class="image-file">
      <img mat-card-image *ngIf="mediaItem.file.type.indexOf('image') > -1"
           [src]="mediaItem.downloadURL"
           alt="{{mediaItem.file.name}}"/>
    </div>

    <div class="audio-file" *ngIf="mediaItem.file.type.indexOf('audio') > -1">
      <audio controls class="preview-audio">
        <source [src]="mediaItem.downloadURL" type="audio/ogg">
        <source [src]="mediaItem.downloadURL" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
    </div>

    <div class="video-file" *ngIf="mediaItem.file.type.indexOf('video') > -1">
      <video class="preview-video" controls>
        <source [src]="mediaItem.downloadURL" type="video/mp4">
        <source [src]="mediaItem.downloadURL" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="other-file-type"
         *ngIf="mediaItem.file.type.indexOf('video') === -1  && mediaItem.file.type.indexOf('audio') === -1 && mediaItem.file.type.indexOf('image') === -1">
      <span class="preview-text">{{mediaItem.file.type}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>

    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <button mat-icon-button
              (click)="showFileDialog(mediaItem)"
              *ngIf="mediaItem.file.type.indexOf('image') > -1 || (mediaItem.file.type.indexOf('video') === -1  && mediaItem.file.type.indexOf('audio') === -1 && mediaItem.file.type.indexOf('image') === -1)">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button color="accent"
              (click)="setAsCover(mediaItem, mediaGallery)"
              *ngIf="mediaItem.file.type.indexOf('image') > -1 && showCoverBtn"
              mat-icon-button
              appStopPropagation>
        <mat-icon>panorama</mat-icon>
      </button>
      <button color="warn"
              (click)="showRemoveDialog(mediaItem, mediaGallery)"
              mat-icon-button
              appStopPropagation>
        <mat-icon>delete</mat-icon>
      </button>
      <button color="primary"
              (click)="showInfoDialog(mediaItem)"
              mat-icon-button
              appStopPropagation>
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

