<div [formGroup]="form"
     style="margin-top: 30px">

  <div fxLayout="column"
       fxLayout.gt-sm="row"
       fxLayoutGap="10px">

    <mat-checkbox formControlName="isMember"
                  fxFlex.gt-sm="100">
      {{'general.locations.edit.contact.isMember' | translate}}
    </mat-checkbox>

    <mat-form-field *ngIf="form.controls['isMember'].value"
                    fxFlex.gt-sm="100">
      <mat-select placeholder="{{'general.locations.edit.contact.member' | translate}}"
                  formControlName="assignedMember">
        <mat-option
          *ngFor="let member of members | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']"
          [value]="member.id">
          {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday.full | date:
          'dd.MM.yy'}}
        </mat-option>
      </mat-select>
      <mat-hint>
        {{'general.locations.edit.contact.chooseMember' | translate}}
      </mat-hint>
    </mat-form-field>
  </div>


  <div fxLayout="column"
       fxLayout.gt-sm="row"
       fxLayoutGap="10px"
       *ngIf="!form.controls['isMember'].value">

    <mat-form-field fxFlex.gt-sm="50">
      <input matInput
             placeholder="{{'general.locations.edit.contact.firstName' | translate}}"
             formControlName="firstName"/>
    </mat-form-field>

    <mat-form-field fxFlex.gt-sm="50">
      <input matInput
             placeholder="{{'general.locations.edit.contact.lastName' | translate}}"
             formControlName="lastName"/>
    </mat-form-field>
  </div>


  <div fxLayout="column"
       fxLayout.gt-sm="row"
       fxLayoutGap="10px"
       *ngIf="!form.controls['isMember'].value"
       formGroupName="contact">

    <mat-form-field fxFlex.gt-sm="50">
      <input matInput
             placeholder="{{'general.locations.edit.contact.phone' | translate}}"
             formControlName="phoneMobile"/>
    </mat-form-field>

    <mat-form-field fxFlex.gt-sm="50">
      <input matInput
             placeholder="{{'general.locations.edit.contact.email' | translate}}"
             formControlName="email"/>
    </mat-form-field>
  </div>

  <div fxLayout="column"
       fxLayout.gt-sm="row"
       fxLayoutGap="10px"
       *ngIf="!form.controls['isMember'].value">
    <div>
      <label style="margin-top: 15px;">
        {{'general.locations.edit.contact.description' | translate}}
      </label><br/>
      <div [froalaEditor]
           formControlName="description">
      </div>
    </div>
  </div>

</div>
