<mat-card [formGroup]="form">
  <mat-card-title>{{'general.teams.edit.timeLine.title' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'general.teams.edit.timeLineTitle' | translate}}</mat-card-subtitle>
  <hr/>
  <mat-card-content>
    <time-line [showLinks]="true"
               (delete)="removeEvent($event)"
               (add)="addEvent()"
               (edit)="editEvent($event)"
               (save)="saveEvent()"
               [selectedTimeLineEvent]="selectedEvent"
               [form]="form.controls['assignedEvents']">
    </time-line>
  </mat-card-content>
</mat-card>
