<!-- *ngIf="(team.assignedPlayers
                    | isMemberInStartingElevenFilter : form.get('assignedPlayers').value
                    | isMemberInSubstitutesListFilter : form.get('assignedSubstitutes').value) as players" -->

<mat-card-subtitle>{{'general.matches.edit.squad' | translate}}</mat-card-subtitle>

<p *ngIf="!assignedTeamPlayers || assignedTeamPlayers.length === 0">{{'general.matches.edit.noAssignedPlayers' |
  translate}}</p>

<div fxLayout="row wrap">
  <match-player fxFlex="5"
                *ngFor="let member of assignedTeamPlayers | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']"
                [member]="member">
  </match-player>
</div>
