<div [formGroup]="form"
     *ngIf="assignedItems$ | async as assignedItems; else loadingTemplate"
     fxLayout="column">
  <mat-form-field>
    <mat-select placeholder="{{'general.media.gallery.form.assignedItem.title' | translate}}"
                formControlName="assignedItem">
      <mat-option *ngFor="let item of assignedItems | orderBy: ['title']"
                  [value]="item.id">
        {{item.title}}
        <!-- Articles -->
        {{item.articleDate ? (item.articleDate.seconds * 1000 | date: 'dd.MM.yy') : ''}}
        {{item.subTitle ? '(' +item.subTitle+')' : ''}}
        <!-- Matches -->
        {{item.matchStartDate ? (item.matchStartDate.seconds*1000 | date: 'dd.MM.yy HH:mm') :''}}
        <!-- Members -->
        {{item.mainData && item.mainData.birthday ? (item.mainData.birthday.full | date: 'dd.MM.yy') :''}}
        <!-- Teams -->
        {{item.assignedSeason ? item.assignedSeason : ''}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
