<mat-card>
  <mat-card-title>{{'general.articles.dashboard.title' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'general.articles.dashboard.description' | translate}}</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px" *ngIf="articles$ | async as articles; else loadingTemplate">
      <div fxFlex="70">
        <article-dashboard-list [articles]="articles"></article-dashboard-list>
      </div>
      <div fxFlex="30">
        <article-authors-stats *ngIf="users$ | async as users"
                               [users]="users"
                               [articles]="articles | groupBy: 'creation.by'">
        </article-authors-stats>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
