<mat-card [formGroup]="form">
  <mat-card-title>
    <mat-icon>mode_edit</mat-icon>
    {{ location.id ? ('general.menu.location.edit' | translate) : 'general.menu.location.create' | translate }}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content>

      <mat-tab-group *ngIf="categories$ | async as categories; else loadingTemplate"
                     [dynamicHeight]="true">

        <mat-tab label="{{'general.locations.edit.mainTitle' | translate}}">

          <div fxLayout="column"
               fxLayout.gt-sm="row"
               fxLayoutGap="10px">

            <div fxFlex.gt-sm="65">

              <div fxLayout="column"
                   fxLayout.gt-sm="row"
                   fxLayoutGap="10px">
                <mat-form-field fxFlex.gt-sm="100">
                  <input matInput
                         placeholder="{{'general.locations.edit.namePlaceholder' | translate}}"
                         formControlName="title"/>
                </mat-form-field>
              </div>

              <div fxLayout="column"
                   fxLayout.gt-sm="row"
                   fxLayoutGap="10px">
                <mat-form-field fxFlex.gt-sm="70">
                  <input matInput
                         placeholder="{{'general.locations.edit.fupaPlaceholder' | translate}}"
                         formControlName="fupaLink"/>
                </mat-form-field>

                <mat-form-field fxFlex.gt-sm="30">
                  <mat-select placeholder="{{'general.category' | translate}}"
                              formControlName="assignedCategory">
                    <mat-option *ngFor="let category of categories | orderBy: ['title']"
                                [value]="category.id">
                      {{category.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="column"
                   fxLayout.gt-sm="row"
                   fxLayoutGap="10px">
                <mat-form-field fxFlex.gt-sm="100">
                  <input matInput
                         placeholder="{{'general.locations.edit.priceList' | translate}}"
                         formControlName="prices"/>
                </mat-form-field>
              </div>

              <div fxLayout="column"
                   fxLayout.gt-sm="row"
                   fxLayoutGap="10px" style="margin-bottom: 25px">
                <div fxFlex.gt-sm="50">
                  <label>{{'general.locations.edit.opening' | translate}}</label><br/>
                  <div [froalaEditor]
                       formControlName="opening">
                  </div>
                </div>

                <div fxFlex.gt-sm="50">
                  <label>{{'general.description' | translate}}</label><br/>
                  <div [froalaEditor]
                       formControlName="text">
                  </div>
                </div>
              </div>
              <creation-form [form]="form"></creation-form>
            </div>

            <div fxFlex.gt-sm="40">
              <media-uploader (uploadCompleted)="uploadCompleted($event)"
                              [uploaderConfig]="uploaderConfig"
                              [uploaderOptions]="uploaderOptions">
              </media-uploader>
            </div>
          </div>
        </mat-tab>

        <mat-tab
          label="{{'general.locations.edit.addressTitle' | translate}}  {{'general.and' | translate }} {{'general.locations.edit.contactTitle' | translate}}">
          <div fxLayout="column"
               fxLayout.gt-sm="row"
               fxLayoutGap="30px">
            <div fxFlex.gt-sm="50">
              <location-edit-address [form]="form"></location-edit-address>
            </div>
            <div fxFlex="50">
              <location-edit-contact *ngIf="members$ | async as members; else loadingTemplate"
                                     [members]="members"
                                     (addLocationContact)="addLocationContact()"
                                     (removeLocationContact)="removeLocationContact($event)"
                                     [form]="form">
              </location-edit-contact>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="{{ 'general.locations.edit.mediaTitle' | translate }}">
          <!-- ToDo: Mit der Spielstätte verknüpfte Uploads laden -->
          <!--<media-center [uploaderConfig]="uploaderConfig"
                        [uploaderOptions]="uploaderOptions">
          </media-center>-->
        </mat-tab>

      </mat-tab-group>
  </mat-card-content>

  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span>
      <button mat-raised-button
              color="primary"
              [routerLink]="['/locations']">
        {{'general.menu.location.list' | translate}}
      </button>
      <button mat-raised-button
              color="accent"
              [routerLink]="['/locations/detal', location.id]">
        {{'general.detail' | translate }}
      </button>
      <button mat-raised-button
              color="warn"
              (click)="removeLocation(location)">
        {{'general.delete' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
