<mat-card [formGroup]="form" *ngIf="members$ | async as members; else loadingTemplate">
  <mat-card-title fxLayout="column"
                  fxLayout.gt-sm="row"
                  fxLayoutGap="10px">
    <h3>{{'general.matches.edit.startingEleven.title' | translate}}</h3>

    <span fxFlex=""></span>
    <mat-form-field>
      <mat-select placeholder="{{'general.matches.edit.tacticalFormation' | translate}}"
                  formControlName="assignedFormation">
        <mat-option *ngFor="let formation of tacticalFormations | orderBy: ['title']"
                    [value]="formation.title">
          {{formation.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-title>

  <mat-card-content fxLayout="column"
                    fxLayout.gt-sm="row"
                    *ngIf="team.assignedPlayers && team.assignedPlayers.length > 0">
    <div class="players" fxFlex="93" *ngIf="form.get('assignedFormation').value">

      <match-player
        *ngFor="let position of (tacticalFormations | filterBy: ['title'] : form.get('assignedFormation').value)[0].positionList"
        [ngClass]="'player ' + position"
        [member]="null">
      </match-player>

    </div>
    <div class="substitutions" fxFlex="7" *ngIf="form.get('assignedFormation').value">
      <mat-card-subtitle>{{'general.matches.edit.substituteBench' | translate}}</mat-card-subtitle>

      <div fxLayout="row wrap">
        <match-player [member]="null"></match-player>
        <match-player [member]="null"></match-player>
        <match-player [member]="null"></match-player>
        <match-player [member]="null"></match-player>
        <match-player [member]="null"></match-player>
        <match-player [member]="null"></match-player>
        <match-player [member]="null"></match-player>
        <!--<match-player
          *ngFor="let i = 0; i < (tacticalFormations | filterBy: ['title'] : form.get('assignedFormation').value)[0].maxSubstitutes; i++" fxFlex="100%"
                      [member]="null">
        </match-player>-->
      </div>

    </div>
  </mat-card-content>


  <mat-card-actions>
    <mat-card-subtitle>{{'general.matches.edit.squad' | translate}}</mat-card-subtitle>

    <p *ngIf="!team.assignedPlayers || team.assignedPlayers.length === 0">
      {{'general.matches.edit.noAssignedPlayers' | translate}}
    </p>

    <div fxLayout="row wrap"
         fxLayoutGap="10px">
      <match-player fxFlex="8.4%"
                    *ngFor="let memberId of team.assignedPlayers"
                    [member]="(members | filterBy: ['id'] : memberId)[0]">
      </match-player>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
