mat-card-content {
  margin: 0;
  padding: 0 !important;
}

.ex-over {
  border: 3px solid red;
}

.players {
  background: transparent url('/assets/sfw/match/soccer-field.jpg') center center / cover no-repeat;
  height: 888px;
  display: flex;
  flex-direction: row;
}

.substitutions {
}

.player {
  position: absolute;
  width: 6%;
}

/**
Horizontal alignment
 */
.keeper {
  left: 3%;
}

.defense {
  left: 15%;
}

.d-mdf {
  left: 25%;
}

.mdf {
  left: 35%;
}

.o-mdf {
  left: 45%;
}

.offense {
  left: 55%;
}

/**
Vertical Alignment
 */
.centered {
  top: 50%;
  transform: translateY(-50%);
}

.left-centered {
  top: 26.5%;
  transform: translateY(-26.5%);
}

.left {
  top: 3%;
  transform: translateY(-3%);
}

.right-centered {
  top: 73.5%;
  transform: translateY(-73.5%);
}

.right {
  top: 97%;
  transform: translateY(-97%);
}

/**
Dragula
 */
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}
