<div fxLayout="column">
  <div fxFlex="100" *ngIf="matches && categories; else loadingTemplate">

    <div class="alert alert-info"
         *ngIf="matches.length === 0">
      <p>{{'general.matches.list.noMatches' | translate}}</p>
    </div>

    <mat-list dense>
      <match-list-item *ngFor="let match of matches"
                       [match]="match"
                       [otherEvents]="otherEvents"
                       [categories]="categories"
                       [showResult]="showResult"
                       [showResultInputs]="showResultInputs">
      </match-list-item>
    </mat-list>

  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
