<div fxLayout="column">
  <div fxFlex="100" *ngIf="matches && categories; else loadingTemplate">

    <p *ngIf="matches.length === 0">{{'general.matches.list.noMatches' | translate}}</p>

    <mat-list dense>
      <mat-list-item *ngFor="let match of matches">

        <img style="border-radius: 0"
             mat-list-avatar
             src="{{match.homeTeam.logoURL}}"
             title="{{match.homeTeam.title}}"/>

        <img style="border-radius: 0"
             mat-list-avatar
             src="{{match.guestTeam.logoURL}}"
             title="{{match.guestTeam.title}}"/>

        <h3 matLine>
          <detail-link [objectId]="match.id"
                       [title]="match.homeTeam.title + '&ndash;' + match.guestTeam.title"></detail-link>
        </h3>

        <p matLine>
          <span *ngFor="let category of categories | filterBy: ['id'] : match.assignedTeamCategory">
            {{category.title}}
          </span>
          - {{match.matchType}}
          - {{match.startDate | date: 'dd.MM.yy HH:mm'}}
        </p>
      </mat-list-item>
    </mat-list>

  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
