<mat-card>
  <mat-card-title>{{ selectedClubManagementPosition === -1 ?
    ('general.clubs.edit.management.positions.title' | translate)
    : 'general.clubs.edit.management.list.title' | translate
    }}
  </mat-card-title>
  <mat-card-content *ngIf="positions && members; else loadingTemplate"
                    [formGroup]="form">

    <div *ngIf="selectedClubManagementPosition === -1">
      <button mat-raised-button
              style="margin-bottom: 25px"
              type="button"
              color="primary"
              (click)="add.emit(true)">
        {{'general.clubs.edit.management.positions.addMember' | translate}}
      </button>
      <club-management-list [form]="form"
                            [members]="members"
                            [positions]="positions"
                            [showLinks]="showLinks"
                            [club]="club"
                            [selectedClubManagementPosition]="selectedClubManagementPosition"
                            (add)="add.emit($event)"
                            (delete)="delete.emit($event)"
                            (edit)="edit.emit($event)">
      </club-management-list>
    </div>

    <div *ngIf="selectedClubManagementPosition !== -1">
      <club-management-form [form]="form"
                            [members]="members"
                            [positions]="positions"
                            [selectedClubManagementPosition]="selectedClubManagementPosition"
                            (delete)="delete.emit($event)"
                            (save)="save.emit($event)">
      </club-management-form>
    </div>

  </mat-card-content>
</mat-card>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>

