<mat-card>
  <mat-card-title>
    {{ show
    ? ('general.clubs.edit.management.positions.title' | translate)
    : 'general.clubs.edit.management.list.title' | translate
    }}
  </mat-card-title>
  <mat-card-content>

    <p *ngIf="positions.length === 0">
      {{'general.clubs.edit.management.positions.noManagementPositions' | translate}}
    </p>

    <button mat-raised-button
            style="margin-bottom: 25px"
            *ngIf="!showForm"
            type="button"
            color="primary"
            (click)="toggleForm()">
      {{ 'general.clubs.edit.management.positions.addMember' | translate }}
    </button>

    <div *ngIf="showForm && positions.length > 0">
      <club-management-form [members]="members"
                            [selectedPosition]="selectedPosition"
                            [positions]="positions"
                            (cancel)="cancel()"
                            (saveClub)="saveClub.emit($event)">
      </club-management-form>
    </div>

    <div *ngIf="!showForm && positions.length > 0">
      <club-management-list [members]="members"
                            [positions]="positions"
                            [showLinks]="showLinks"
                            (editManagementPosition)="editManagementPosition($event)"
                            (saveClub)="saveClub.emit($event)">
      </club-management-list>
    </div>


  </mat-card-content>
</mat-card>
