<mat-card>
  <mat-card-title>
    <mat-icon>list</mat-icon>
    {{'general.menu.application.main' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group [dynamicHeight]="true"
                   *ngIf="application; else loadingTemplate">

      <mat-tab label="{{'general.applications.mainTitle' | translate}}">

        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="10px">
          <div fxFlex="60">
            <settings-main (saveApplication)="saveApplication($event)"
                           [application]="application">
            </settings-main>

            <settings-calendars (saveApplication)="saveApplication($event)"
                                [application]="application">
            </settings-calendars>
          </div>

          <div fxFlex="40">
            <settings-mailing (saveApplication)="saveApplication($event)"
                              [application]="application">
            </settings-mailing>

            <settings-urlshortening (saveApplication)="saveApplication($event)"
                                    [application]="application">
            </settings-urlshortening>

            <settings-registration (saveApplication)="saveApplication($event)"
                                   [application]="application">
            </settings-registration>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="{{'general.applications.downtime.title' | translate}}">
        <settings-downtime (saveApplication)="saveApplication($event)"
                           [application]="application">
        </settings-downtime>
      </mat-tab>

      <mat-tab label="{{'general.applications.socialTitle' | translate}}">
        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="10px">
          <div fxFlex="60">
            <settings-social-data (saveApplication)="saveApplication($event)"
                                  [application]="application">
            </settings-social-data>
          </div>
          <div fxFlex="40">
            <settings-social-sign-in (saveApplication)="saveApplication($event)"
                                     [application]="application">
            </settings-social-sign-in>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{'general.applications.staticTitle' | translate}}">
        <static-pages *ngIf="categories$ | async as categories; else loadingTemplate"
                      (saveApplication)="saveApplication($event)"
                      [categories]="categories"
                      [application]="application">
        </static-pages>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
