<mat-grid-list [gutterSize]="20"
               [cols]="breakpoint"
               (window:resize)="onResize($event)"
               *ngIf="mediaItems && mediaItems.length > 0; else noMediaItemsTemplate">

  <mat-grid-tile class="mediaItem"
                 *ngFor="let mediaItem of mediaItems">
    <mat-grid-tile-header class="header">
      <h3 matLine>{{mediaItem.file ? mediaItem.file.name : 'TEST'}}</h3>
    </mat-grid-tile-header>
    <img [src]="mediaItem.downloadURL"
         alt="{{mediaItem.file ? mediaItem.file.name : 'TEST'}}"/>
    <mat-grid-tile-footer class="footer">
      <a mat-icon-button><mat-icon>info</mat-icon></a>
      <a (click)="removeMediaItem.emit(mediaItem)"
         mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </a>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>


<ng-template #noMediaItemsTemplate>
  <p><strong>{{ 'general.info' | translate }}</strong> {{ 'general.media.noItemsFound' | translate }}</p>
</ng-template>
