.session {
  background-size: cover;
}

.no-webp .session {
  background: transparent url('/assets/sfw/background.webp') no-repeat center center;
}

.webp .session{
  background: transparent url('/assets/sfw/background.webp') no-repeat center center;
}


