<div [formGroup]="form">

  <div fxLayout.gt-sm="row"
       fxLayout="column"
       fxLayoutGap="10px">

    <mat-form-field fxFlex.gt-sm="40"
                    hintLabel="Max {{titleMaxLength}} characters">
      <input matInput
             placeholder="{{'general.applications.static.title' | translate}}"
             formControlName="title"/>
    </mat-form-field>

    <mat-form-field fxFlex.gt-sm="35">
      <mat-select placeholder="{{'general.applications.static.sectionTitle' | translate}}"
                  formControlName="assignedCategories" multiple>
        <mat-option *ngFor="let category of categories | orderBy: 'title'"
                    [value]="category.id">
          {{category.title}}
        </mat-option>
      </mat-select>
      <mat-hint align="end">{{'general.applications.static.chooseSectionTitle' | translate}}</mat-hint>
    </mat-form-field>

    <div>
      <mat-checkbox formControlName="isEnabled">
        {{'general.applications.static.isEnabled' | translate}}
      </mat-checkbox>
    </div>
  </div>

  <div style="margin-top: 25px;">
    <div fxFlex="100">
      <textarea formControlName="text" [style]="{height: '60vh'}"></textarea>
      <!--
      <quill-editor [formControl]="form.get('text')"
                    [style]="{height: '60vh'}">
      </quill-editor>-->
    </div>
  </div>
</div>
