<mat-card>
  <mat-card-title>
    {{'general.members.edit.profile.title' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

  <mat-card-content>

    <p *ngIf="!member.profile || member.profile.length === 0">
      {{'general.members.edit.profile.noEntries' | translate}}
    </p>

    <mat-list dense>
      <mat-list-item *ngFor="let entry of member.profile">
        <span fxFlex.gt-sm="40"
              fxFlex="100">{{entry.entry}}
        </span>
        <span fxFlex.gt-sm="60"
              fxFlex="100">{{entry.value}}
        </span>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>
