.soccer-field {
  background: transparent url('/assets/sfw/match/soccer-field.jpg') center center / cover no-repeat;
  min-height: 888px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(6, 12%);
  grid-template-rows: repeat(5, 20%);
}
