<p *ngIf="!form.controls">
  {{'general.clubs.edit.honoraries.noHonoraries' | translate}}
</p>

<mat-accordion fxLayout="column"
               dense>
  <mat-expansion-panel *ngFor="let control of form.controls; let i = index"
                       [expanded]="false"
                       [hideToggle]="true">

    <mat-expansion-panel-header>
      <mat-panel-title fxLayout.gt-sm="row"
                       fxLayout="column"
                       fxLayoutAlign="space-around center">
        <span *ngFor="let member of members |filterBy: ['id'] : control.get('assignedMember').value">
          {{member.mainData.firstName}} {{member.mainData.lastName}}
        </span>
        <span fxFlex></span>
        <span *ngFor="let article of articles | filterBy: ['id']: control.get('assignedArticle').value">
          {{article.title}}
        </span>
        <span fxFlex></span>
        <span>{{control.get('startDate').value | date: 'dd.MM.yy'}}</span>
        <span fxFlex></span>
        <a (click)="edit.emit(i)" title="{{'general.edit' | translate}}">
          <mat-icon color="accent">edit</mat-icon>
        </a>
        <a (click)="delete.emit(i)" title="{{'general.delete' | translate}}">
          <mat-icon color="warn">delete</mat-icon>
        </a>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div *ngFor="let article of articles | filterBy: ['id']: control.get('assignedArticle').value">
        <h3>{{article.title}}</h3>
        <strong *ngIf="article.subTitle">{{article.subTitle}}</strong><br/>
        <p [innerHTML]="article.text"></p>
      </div>
    </ng-template>

  </mat-expansion-panel>
</mat-accordion>
