<ng-container *ngIf="application$ | async as application">

  <ng-container *ngIf="application.length > 0">

    <ng-container *ngIf="application[0] as currentApp">

      <div fxLayout="column"
           style="margin-top: 50px"
           fxLayoutGap="10px">

        <ng-container *ngFor="let social of currentApp.signInProviders">
          <button mat-raised-button
                  *ngIf="social.isEnabled"
                  (click)="socialLogin(social.title)"
                  color="accent"
                  type="button">
            {{ 'Global.Login.' + social.title | translate }}
          </button>
        </ng-container>

      </div>
    </ng-container>
  </ng-container>
</ng-container>
