<div fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutGap="10px">
  <div fxFlex.gt-sm="50">
    <team-detail-competitions [team]="team"></team-detail-competitions>
    <team-detail-statistics [team]="team"></team-detail-statistics>
    <team-detail-series [team]="team"></team-detail-series>
  </div>

  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>{{'general.teams.detail.standingsTitle' | translate}}</mat-card-title>
      <mat-card-content>

        <p *ngIf="!team.currentStandings">{{'general.teams.fame.noStandings' | translate}}</p>

        <table class="table" *ngIf="team.currentStandings">
          <thead>
          <tr>
            <td>{{'general.teams.detail.standings.rank' | translate}}</td>
            <td>{{'general.teams.detail.standings.team' | translate}}</td>
            <td>{{'general.teams.detail.standings.matches' | translate}}</td>
            <td>{{'general.teams.detail.standings.won' | translate}}</td>
            <td>{{'general.teams.detail.standings.draw' | translate}}</td>
            <td>{{'general.teams.detail.standings.lost' | translate}}</td>
            <td>{{'general.teams.detail.standings.goalRel' | translate}}</td>
            <td>{{'general.teams.detail.standings.goalDiff' | translate}}</td>
            <td>{{'general.teams.detail.standings.points' | translate}}</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let standing of team.currentStandings">
            <td>{{standing.Rank}}</td>
            <td>{{standing.Team}}</td>
            <td>{{standing.Matches}}</td>
            <td>{{standing.Won}}</td>
            <td>{{standing.Draw}}</td>
            <td>{{standing.Lost}}</td>
            <td>{{standing.GoalRel}}</td>
            <td>{{standing.GoalDiff}}</td>
            <td>{{standing.Points}}</td>
          </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>

  </div>
</div>
